<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="4.2"?>
<plugin>
   <extension-point id="httpsecuritysources" name="HTTP Security Source" schema="schema/httpsecuritysources.exsd"/>
   <extension-point id="wooftemplateextensionsources" name="WoOF Template Extension Source" schema="schema/wooftemplateextensionsources.exsd"/>
	<extension point="org.eclipse.ui.newWizards">
		<category id="net.officefloor.eclipse" name="OfficeFloor">
		</category>
		<wizard category="net.officefloor.eclipse"
			class="net.officefloor.eclipse.wizard.file.WoofNewWizard" icon="icons/Woof.png"
			id="net.officefloor.eclipse.wizards.WoofNewWizard" name="WoOF">
		</wizard>
	</extension>
	<extension id="net.officefloor.woof.WoofEditors" name="WoOF Editors"
		point="org.eclipse.ui.editors">
		<editor class="net.officefloor.eclipse.woof.WoofEditor"
			contributorClass="net.officefloor.eclipse.common.editor.CoreEditorActionContributor"
			default="true" extensions="woof" icon="icons/Woof.png" id="net.officefloor.woof.WoofEditor"
			name="WoOF Editor" />
	</extension>
 <extension
       point="net.officefloor.ui.extensionclasspathproviders">
    <extension-classpath-provider
          class="net.officefloor.eclipse.woof.WoofExtensionClasspathProvider">
    </extension-classpath-provider>
 </extension>
 <extension
       point="net.officefloor.ui.sectionsources">
    <sectionsource
          class="net.officefloor.eclipse.web.HttpTemplateSectionSourceExtension">
    </sectionsource>
 </extension>
	<extension point="net.officefloor.ui.worksources">
		<worksource
			class="net.officefloor.eclipse.socket.HttpRouteWorkSourceExtension" />
	</extension>
	<extension point="net.officefloor.ui.worksources">
		<worksource
			class="net.officefloor.eclipse.socket.HttpFileFactoryWorkSourceExtension" />
	</extension>
	<extension point="net.officefloor.ui.worksources">
		<worksource
			class="net.officefloor.eclipse.socket.HttpFileSenderWorkSourceExtension" />
	</extension>
	<extension point="net.officefloor.ui.worksources">
		<worksource
			class="net.officefloor.eclipse.socket.HttpParametersLoaderWorkSourceExtension" />
	</extension>
	<extension point="net.officefloor.ui.worksources">
		<worksource
			class="net.officefloor.eclipse.socket.HttpTemplateWorkSourceExtension" />
	</extension>
	<extension point="net.officefloor.ui.worksources">
		<worksource
			class="net.officefloor.eclipse.socket.HttpResponseSenderWorkSourceExtension">
		</worksource>
	</extension>
	<extension point="net.officefloor.ui.managedobjectsources">
		<managedobjectsource
			class="net.officefloor.eclipse.socket.TcpServerSocketManagedObjectSourceExtension" />
	</extension>
	<extension point="net.officefloor.ui.managedobjectsources">
		<managedobjectsource
			class="net.officefloor.eclipse.socket.SecureTcpServerSocketManagedObjectSourceExtension">
		</managedobjectsource>
	</extension>
	<extension point="net.officefloor.ui.managedobjectsources">
		<managedobjectsource
			class="net.officefloor.eclipse.socket.HttpServerSocketManagedObjectSourceExtension" />
	</extension>
	<extension point="net.officefloor.ui.managedobjectsources">
		<managedobjectsource
			class="net.officefloor.eclipse.socket.HttpsServerSocketManagedObjectSourceExtension">
		</managedobjectsource>
	</extension>
	<extension point="net.officefloor.ui.managedobjectsources">
		<managedobjectsource
			class="net.officefloor.eclipse.socket.HttpParametersLoaderManagedObjectSourceExtension">
		</managedobjectsource>
	</extension>
	<extension point="net.officefloor.ui.managedobjectsources">
		<managedobjectsource
			class="net.officefloor.eclipse.socket.HttpSessionManagedObjectSourceExtension">
		</managedobjectsource>
	</extension>
	<extension point="net.officefloor.ui.managedobjectsources">
		<managedobjectsource
			class="net.officefloor.eclipse.socket.HttpSessionAttributeManagedObjectSourceExtension">
		</managedobjectsource>
	</extension>
	<extension point="net.officefloor.ui.managedobjectsources">
		<managedobjectsource
			class="net.officefloor.eclipse.socket.HttpSessionAttributeRetrieverManagedObjectSourceExtension">
		</managedobjectsource>
	</extension>
</plugin>
