                                               -----------------------
                                            Page Flow HTTP Server Example 
                                               -----------------------
					        Daniel Sagenschneider
                                               -----------------------

  <<Page Flow Http Server Example>>

  This example demonstrates the wiring together of {{{/apidocs/net/officefloor/frame/api/execute/Task.html}Task}} instances into a {{{/apidocs/net/officefloor/frame/internal/structure/Flow.html}Flow}}. 
  
Code

%{code-snippet|brush-autodetect=1|id=example|file=${basedir}/src/main/java/net/officefloor/example/pageflowhttpserver/PageFlowHttpServer.java}

%{code-snippet|brush=xml|file=${basedir}/src/main/resources/Template.ofp}



%{code-snippet|brush-autodetect=1|id=class|file=${basedir}/src/main/java/net/officefloor/example/pageflowhttpserver/TemplateLogic.java}

%{code-snippet|brush-autodetect=1|id=items|file=${basedir}/src/main/java/net/officefloor/example/pageflowhttpserver/TemplateLogic.java}

%{code-snippet|brush-autodetect=1|id=flows|file=${basedir}/src/main/java/net/officefloor/example/pageflowhttpserver/TemplateLogic.java}

%{code-snippet|brush-autodetect=1|id=control|file=${basedir}/src/main/java/net/officefloor/example/pageflowhttpserver/TemplateLogic.java}

%{code-snippet|brush-autodetect=1|id=submit|file=${basedir}/src/main/java/net/officefloor/example/pageflowhttpserver/TemplateLogic.java}


* Remaining Classes

** Item Class

  As the Item is stored within the TemplateLogic object which is bound to the {{{/apidocs/net/officefloor/plugin/web/http/session/HttpSession.html}HttpSession}}, it must be serialisable. 

%{code-snippet|brush-autodetect=1|id=example|file=${basedir}/src/main/java/net/officefloor/example/pageflowhttpserver/Item.java}



Unit Test

  The unit test requests the dynamic web page from the HTTP Server and validates the page against expected content.

%{code-snippet|brush-autodetect=1|id=test|file=${basedir}/src/test/java/net/officefloor/example/pageflowhttpserver/PageFlowHttpServerTest.java}

