<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="4.2"?>
<plugin>
	<extension point="org.eclipse.ui.newWizards">
		<wizard 
			id="net.officefloor.eclipse.woof.WoofNewWizard"
			class="net.officefloor.eclipse.woof.WoofNewWizard"
			category="net.officefloor.category"
			name="WoOF">
		</wizard>
	</extension>
	<extension id="net.officefloor.ui.OfficeFloorEditors" name="OfficeFloor Editors"
		point="org.eclipse.ui.editors">
		<editor
        class="net.officefloor.eclipse.woof.WoofEditor"
        contributorClass="net.officefloor.eclipse.ide.editor.IdeEditorActionBarContributor"
        default="true"
        extensions="woof"
        id="net.officefloor.eclipse.woof"
        name="Woof Editor"/>
	</extension>
</plugin>