                                               -----------------------
                                                OfficeFloor Packaging 
                                               -----------------------
					        Daniel Sagenschneider
                                               -----------------------

  This module provides packaging of OfficeFloor components for releasing.
  
  Details of running OfficeFloor are available on the {{{../download.html}download page}}.
