~~~
~~ #%L
~~ Spring Web MVC HTTP Server Tutorial
~~ %%
~~ Copyright (C) 2005 - 2020 Daniel Sagenschneider
~~ %%
~~ Licensed under the Apache License, Version 2.0 (the "License");
~~ you may not use this file except in compliance with the License.
~~ You may obtain a copy of the License at
~~ 
~~      http://www.apache.org/licenses/LICENSE-2.0
~~ 
~~ Unless required by applicable law or agreed to in writing, software
~~ distributed under the License is distributed on an "AS IS" BASIS,
~~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~~ See the License for the specific language governing permissions and
~~ limitations under the License.
~~ #L%
~~~

                                               -----------------------
                                               Spring Web MVC Tutorial 
                                               -----------------------
					                            Daniel Sagenschneider
                                               -----------------------

Spring Web MVC Tutorial

  This tutorial demonstrates configuring Spring Web MVC Controllers within WoOF.  This enables using an existing Spring Application out of the box within WoOF.
   
  {{{https://github.com/officefloor/OfficeFloor/tree/master/officefloor/tutorials/SpringWebMvcHttpServer}Tutorial Source}}



*Spring Web MVC Controller

  The Spring Web MVC Controller to be integrated is as follows:
  
%{snippet|id=tutorial|file=${basedir}/src/main/java/net/officefloor/tutorial/springwebmvchttpserver/SpringRestController.java|ignoreDownloadError=false}

  With the request and response models:

%{snippet|id=tutorial|file=${basedir}/src/main/java/net/officefloor/tutorial/springwebmvchttpserver/RequestModel.java|ignoreDownloadError=false}
  
%{snippet|id=tutorial|file=${basedir}/src/main/java/net/officefloor/tutorial/springwebmvchttpserver/ResponseModel.java|ignoreDownloadError=false}



*Configuring Spring Web MVC Controller

  To configure using Spring Web MVC Controller instances within WoOF, add the following dependency:
  
%{snippet|id=tutorial|file=${basedir}/pom.xml|ignoreDownloadError=false}

  Spring will also need to be configured in <<<application.objects>>>:
  
%{snippet|id=tutorial|file=${basedir}/src/main/resources/application.objects|ignoreDownloadError=false}

  This will have all the Spring Web MVC Controllers available at their request mapped paths.



*Spring web pages

  Integration of Spring Web MVC Controllers is not limited to only REST.  The following Spring Web MVC Controller:

%{snippet|id=tutorial|file=${basedir}/src/main/java/net/officefloor/tutorial/springwebmvchttpserver/SpringController.java|ignoreDownloadError=false}

  Provides the following web page:
  
%{snippet|file=${basedir}/src/main/resources/templates/simple.html|ignoreDownloadError=false}



*Testing

  The following tests demonstrate the Spring Web MVC Controllers servicing requests.
    
%{snippet|id=tutorial|file=${basedir}/src/test/java/net/officefloor/tutorial/springwebmvchttpserver/SpringWebMvcHttpServerTest.java|ignoreDownloadError=false}


Next

  The {{{./procedure.html}next tutorial}} covers configuring a Spring Web MVC Controller as a procedure.
