<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="4.2"?>
<plugin>
	<extension point="org.eclipse.ui.newWizards">
		<wizard 
			id="net.officefloor.eclipse.section.SectionNewWizard"
			class="net.officefloor.eclipse.section.SectionNewWizard"
			category="net.officefloor.category"
			name="Section">
		</wizard>
	</extension>
	<extension id="net.officefloor.ui.OfficeFloorEditors" name="OfficeFloor Editors"
		point="org.eclipse.ui.editors">
		<editor
	        id="net.officefloor.editor.section"
	        class="net.officefloor.eclipse.section.SectionEditor"
	        contributorClass="net.officefloor.eclipse.ide.editor.IdeEditorActionBarContributor"
	        default="true"
	        extensions="section"
	        name="Section Editor"/>
	</extension>
</plugin>
