**/.idea/
**/*.iml

**/.project
**/.classpath
**/.settings

/target/
**/*.jar
**/*.zip
**/*.log
**/.flattened-pom.xml
**/.polyglot.*
**/*.META-INF_MANIFEST.MF

/.java-version
!editor/**/.project
!editor/**/.classpath

/.claude/
