<?xml version="1.0" encoding="UTF-8"?>
<web-app>

	<servlet>
		<servlet-name>Mock</servlet-name>
		<servlet-class>net.officefloor.plugin.woof.servlet.container.MockHttpServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Mock</servlet-name>
		<url-pattern>/servlet.html</url-pattern>
	</servlet-mapping>

</web-app>