<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
    <extension point="org.eclipse.ui.actionSets">
      <actionSet label="Office Floor Action Set" visible="true" id="net.officefloor.eclipse.actionSet">
         <menu label="Office Floor" id="officefloorMenu">
            <separator name="officefloorGroup"/>
         </menu>
         <action
               label="Filing Cabinet"
               icon="icons/FilingCabinet.png"
               class="net.officefloor.eclipse.tool.filingcabinet.FilingCabinetAction"
               menubarPath="officefloorMenu/officefloorGroup"
               toolbarPath="officefloorGroup"
               id="net.officefloor.eclipse.actions.FilingCabinetAction">
         </action>
      </actionSet>
   </extension>
</plugin>
