<web-app>
	<servlet>
		<servlet-name>Test</servlet-name>
		<servlet-class>net.officefloor.plugin.war.integrate.MockWarIntegrateHttpServlet
		</servlet-class>
		<init-param>
			<param-name>response</param-name>
			<param-value>WAR</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>Test</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
</web-app>