                                               -----------------------
                                                OfficeFloor Packaging 
                                               -----------------------
					        Daniel Sagenschneider
                                               -----------------------

  This module provides packaging of OfficeFloor components for releasing.

