~~~
~~ #%L
~~ Servlet tutorial
~~ %%
~~ Copyright (C) 2005 - 2020 Daniel Sagenschneider
~~ %%
~~ Licensed under the Apache License, Version 2.0 (the "License");
~~ you may not use this file except in compliance with the License.
~~ You may obtain a copy of the License at
~~ 
~~      http://www.apache.org/licenses/LICENSE-2.0
~~ 
~~ Unless required by applicable law or agreed to in writing, software
~~ distributed under the License is distributed on an "AS IS" BASIS,
~~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~~ See the License for the specific language governing permissions and
~~ limitations under the License.
~~ #L%
~~~

                                               -----------------------
                                                   Servlet Tutorial 
                                               -----------------------
					                            Daniel Sagenschneider
                                               -----------------------

Servlet Tutorial

  This tutorial demonstrates configuring a Servlet / Filter as a procedure.

  Adding Servlets / Filters as a procedure, allows re-use of existing code. Ideally, over time, the Servlets / Filters are simplified to methods taking advantage of OfficeFloor's {{{https://sagenschneider.blogspot.com/2019/02/inversion-of-coupling-control.html}IoCC}}. However, Servlets / Filters are supported as procedures to avoid significant rewrites of your application code.  This enables taking advantage of OfficeFloor's features with existing code.
   
  {{{https://github.com/officefloor/OfficeFloor/tree/master/officefloor/tutorials/ServletHttpServer}Tutorial Source}}



*Servlet / Filter

  The Servlet to be integrated as a procedure, is as follows:
  
%{snippet|id=tutorial|file=${basedir}/src/main/java/net/officefloor/tutorial/servlethttpserver/TutorialServlet.java|ignoreDownloadError=false}

  The Filter is as follows:
  
%{snippet|id=tutorial|file=${basedir}/src/main/java/net/officefloor/tutorial/servlethttpserver/TutorialFilter.java|ignoreDownloadError=false}


*Configuring as a Procedure

  To configure a Servlet / Filter as a procedure, add the following dependency:
  
%{snippet|id=tutorial|file=${basedir}/pom.xml|ignoreDownloadError=false}

  Once added, select the Servlet / Filter as a class when adding a procedure.  The tutorial configuration is as follows:
  
[./images/ServletHttpServer-configuration.png] ServletHttpServer configuration.



*Dependencies

  The dependency is a simple object:
  
%{snippet|id=tutorial|file=${basedir}/src/main/java/net/officefloor/tutorial/servlethttpserver/InjectedDependency.java|ignoreDownloadError=false}
  
  Configured via OfficeFloor as follows:
  
%{snippet|id=tutorial|file=${basedir}/src/main/resources/application.objects|ignoreDownloadError=false}



*Testing

  The following test confirms the integration of the Servlet and Filter as procedures:
  
%{snippet|id=tutorial|file=${basedir}/src/test/java/net/officefloor/tutorial/servlethttpserver/ServletHttpServerTest.java|ignoreDownloadError=false}


Next

  The {{{./migrate.html}next tutorial}} covers migrating Servlets / Filters for simpler code and avoid the dependency on JEE.
