                                               -----------------------
                                        Servlet Filter Web Application Example 
                                               -----------------------
					        Daniel Sagenschneider
                                               -----------------------

  <<Servlet Filter Web Application Example>>

  This example demonstrates ...
  
  {{{http://sourceforge.net/projects/officefloor/files/maven/maven2/net/officefloor/example/ServletFilterWebApplication/${projectVersion}/ServletFilterWebApplication-${projectVersion}-project.zip/download}Download Example Source}}
  
Code

  The following is the <<<web.xml>>> for the Servlet application.

%{code-snippet|sh-params=highlight:[4,5,6,7,8,9,10,11]|brush-autodetect=1|file=${basedir}/src/main/webapp/WEB-INF/web.xml}

  The <<<OfficeFloorServletFilter>>> implementation is as follows:
  
%{code-snippet|brush-autodetect=1|id=example|file=${basedir}/src/main/java/net/officefloor/example/servletfilterwebapplication/ExampleFilter.java}
  
  

* Remaining Code  

  For completeness of the example the remaining code is included below.
  
** Template.ofp

%{code-snippet|sh-params=highlight:[13]|brush=xml|file=${basedir}/src/main/resources/templates/Template.ofp}

** ExampleTemplateLogic

%{code-snippet|brush-autodetect=1|id=example|file=${basedir}/src/main/java/net/officefloor/example/servletfilterwebapplication/ExampleTemplateLogic.java}

** Template.jsp

%{code-snippet|brush=xml|file=${basedir}/src/main/webapp/Template.jsp}

** ExampleClass

%{code-snippet|brush-autodetect=1|id=example|file=${basedir}/src/main/java/net/officefloor/example/servletfilterwebapplication/ExampleClass.java}

** MockHttpServlet

%{code-snippet|brush-autodetect=1|id=example|file=${basedir}/src/main/java/net/officefloor/example/servletfilterwebapplication/MockHttpServlet.java}



Unit Test

  The unit test requests varous functions ...

%{code-snippet|brush-autodetect=1|id=example|file=${basedir}/src/test/java/net/officefloor/example/servletfilterwebapplication/ExampleIT.java}

