~~~
~~ #%L
~~ JWT Tutorial
~~ %%
~~ Copyright (C) 2005 - 2020 Daniel Sagenschneider
~~ %%
~~ Licensed under the Apache License, Version 2.0 (the "License");
~~ you may not use this file except in compliance with the License.
~~ You may obtain a copy of the License at
~~ 
~~      http://www.apache.org/licenses/LICENSE-2.0
~~ 
~~ Unless required by applicable law or agreed to in writing, software
~~ distributed under the License is distributed on an "AS IS" BASIS,
~~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~~ See the License for the specific language governing permissions and
~~ limitations under the License.
~~ #L%
~~~

                                               -----------------------
                                     Combined JWT Resource and Authority Tutorial 
                                               -----------------------
					                            Daniel Sagenschneider
                                               -----------------------

Combined JWT Resource and Authority Tutorial

  For smaller applications, the JWT Resource (application) server and JWT Authority server may be combined.

  This tutorial demonstrates combining them.
   
  {{{https://github.com/officefloor/OfficeFloor/tree/master/officefloor/tutorials/JwtHttpServer}Tutorial Source}}



*WoOF configuration

  The configuration contains both the {{{../JwtResourceHttpServer/index.html}JWT Resource}} and {{{../JwtAuthorityHttpServer/index.html}JWT Authority}}.  It is joined by the {{{/apidocs/net/officefloor/web/jwt/authority/combined/CombinedServerRetrieveValidateKeysSectionSource.html}CombinedServerRetrieveValidateKeysSectionSource}} that handles the JWT keys being loaded from the {{{/apidocs/net/officefloor/web/jwt/authority/JwtAuthority.html}JwtAuthority}}.

[./images/JwtHttpServer-configuration.png] JwtHttpServer screen shot.

  As the JWT Authority can be clustered, it allows the application to also be clustered.
    

*Testing

  The following shows the ease of using the application:
  
%{snippet|id=tutorial|file=${basedir}/src/test/java/net/officefloor/tutorial/jwthttpserver/JwtHttpServerTest.java|ignoreDownloadError=false}



Next

  The {{{../SwaggerHttpServer/index.html}next tutorial}} covers documenting via OpenAPI / Swagger.
