<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="4.2"?>
<plugin>
	<extension-point id="worksources" name="Work Source"
		schema="schema/worksource.exsd" />
	<extension-point id="managedobjectsources" name="Managed Object Source"
		schema="schema/managedobjectsource.exsd" />
	<extension-point id="sectionsources" name="Section Source"
		schema="schema/sectionsource.exsd" />
	<extension-point id="administratorsources" name="Administrator Source"
		schema="schema/administratorsource.exsd" />
	<extension-point id="officesources" name="Office Source"
		schema="schema/officesource.exsd" />
 <extension-point id="teamsources" name="Team Source" schema="schema/teamsource.exsd"/>
 <extension-point id="extensionclasspathproviders" name="Extension Class Path Provider" schema="schema/extensionclasspathproviders.exsd"/>
 <extension-point id="governancesources" name="Governance Source" schema="schema/governancesources.exsd"/>
	<extension id="net.officefloor.ui.OfficeFloorEditors" name="OfficeFloor Editors"
		point="org.eclipse.ui.editors">
		<editor
        class="net.officefloor.eclipse.desk.DeskEditor"
        contributorClass="net.officefloor.eclipse.common.editor.CoreEditorActionContributor"
        default="true"
        extensions="desk"
        icon="icons/Desk.png"
        id="net.officefloor.ui.DeskEditor"
        name="Desk Editor"/>
		<editor class="net.officefloor.eclipse.section.SectionEditor"
			contributorClass="net.officefloor.eclipse.common.editor.CoreEditorActionContributor"
			default="true" extensions="section" icon="icons/Section.png"
			id="net.officefloor.ui.SectionEditor" name="Section Editor" />
		<editor class="net.officefloor.eclipse.office.OfficeEditor"
			contributorClass="net.officefloor.eclipse.common.editor.CoreEditorActionContributor"
			default="true" extensions="office" icon="icons/Office.png"
			id="net.officefloor.ui.OfficeEditor" name="Office Editor" />
		<editor class="net.officefloor.eclipse.officefloor.OfficeFloorEditor"
			contributorClass="net.officefloor.eclipse.common.editor.CoreEditorActionContributor"
			default="true" extensions="officefloor" icon="icons/OfficeFloor.png"
			id="net.officefloor.ui.OfficeFloorEditor" name="OfficeFloor Editor" />
	</extension>
	<extension point="org.eclipse.ui.newWizards">
		<category id="net.officefloor.eclipse" name="OfficeFloor">
		</category>
		<wizard category="net.officefloor.eclipse"
			class="net.officefloor.eclipse.wizard.file.DeskNewWizard" icon="icons/Desk.png"
			id="net.officefloor.eclipse.wizards.DeskNewWizard" name="Desk">
		</wizard>
		<wizard category="net.officefloor.eclipse"
			class="net.officefloor.eclipse.wizard.file.SectionNewWizard" icon="icons/Section.png"
			id="net.officefloor.eclipse.wizards.SectionNewWizard" name="Section">
		</wizard>
		<wizard category="net.officefloor.eclipse"
			class="net.officefloor.eclipse.wizard.file.OfficeNewWizard" icon="icons/Office.png"
			id="net.officefloor.eclipse.wizards.OfficeNewWizard" name="Office">
		</wizard>
		<wizard category="net.officefloor.eclipse"
			class="net.officefloor.eclipse.wizard.file.OfficeFloorNewWizard"
			icon="icons/OfficeFloor.png" id="net.officefloor.eclipse.wizards.OfficeFloorNewWizard"
			name="OfficeFloor">
		</wizard>
	</extension>
	<extension point="org.eclipse.debug.core.launchConfigurationTypes">
		<launchConfigurationType
			delegate="net.officefloor.eclipse.launch.OfficeFloorLaunchConfigurationDelegate"
			id="net.officefloor.eclipse.launch.configurationtype.officeFloor"
			modes="run, debug" name="OfficeFloor">
		</launchConfigurationType>
	</extension>
	<extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
		<launchConfigurationTypeImage
			configTypeID="net.officefloor.eclipse.launch.configurationtype.officeFloor"
			icon="icons/OfficeFloor.png" id="net.officefloor.eclipse.launch.icon.officeFloor">
		</launchConfigurationTypeImage>
	</extension>
	<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
		<launchConfigurationTabGroup
			class="net.officefloor.eclipse.launch.OfficeFloorTabGroup" id="net.officefloor.eclipse.launch.tabgroup.officeFloor"
			type="net.officefloor.eclipse.launch.configurationtype.officeFloor">
		</launchConfigurationTabGroup>
	</extension>
	<extension point="org.eclipse.debug.ui.launchShortcuts">
		<shortcut class="net.officefloor.eclipse.launch.OfficeFloorLaunchShortcut"
			icon="icons/OfficeFloor.png" id="net.officefloor.eclipse.launch.shortcut.officeFloor"
			label="OfficeFloor" modes="run,debug">
			<configurationType
				id="net.officefloor.eclipse.launch.configurationtype.officeFloor">
			</configurationType>
			<contextualLaunch>
				<enablement>
					<with variable="selection">
						<count value="1" />
						<iterate>
							<adapt type="org.eclipse.core.resources.IResource">
								<test property="org.eclipse.core.resources.name" value="*.officefloor" />
							</adapt>
						</iterate>
					</with>
				</enablement>
			</contextualLaunch>
		</shortcut>
	</extension>
	<extension point="net.officefloor.ui.worksources">
		<worksource
			class="net.officefloor.eclipse.extension.worksource.clazz.ClassWorkSourceExtension">
		</worksource>
	</extension>
	<extension point="net.officefloor.ui.managedobjectsources">
		<managedobjectsource
			class="net.officefloor.eclipse.extension.managedobjectsource.clazz.ClassManagedObjectSourceExtension" />
	</extension>
	<extension point="net.officefloor.ui.managedobjectsources">
		<managedobjectsource
			class="net.officefloor.eclipse.extension.managedobjectsource.xml.TreeXmlMarshallerManagedObjectSourceExtension" />
	</extension>
	<extension point="net.officefloor.ui.managedobjectsources">
		<managedobjectsource
			class="net.officefloor.eclipse.extension.managedobjectsource.xml.TreeXmlUnmarshallerManagedObjectSourceExtension" />
	</extension>
	<extension point="net.officefloor.ui.managedobjectsources">
		<managedobjectsource
			class="net.officefloor.eclipse.extension.managedobjectsource.xml.FlatXmlUnmarshallerManagedObjectSourceExtension" />
	</extension>
	<extension point="net.officefloor.ui.administratorsources">
		<administratorsource
			class="net.officefloor.eclipse.extension.administratorsource.clazz.ClassAdministratorSourceExtension" />
	</extension>
 <extension
       point="net.officefloor.ui.governancesources">
    <governancesource
          class="net.officefloor.eclipse.extension.governancesource.clazz.ClassGovernanceSourceExtension">
    </governancesource>
 </extension>
	<extension point="net.officefloor.ui.sectionsources">
		<sectionsource
			class="net.officefloor.eclipse.extension.sectionsource.desk.DeskModelSectionSourceExtension" />
	</extension>
	<extension point="net.officefloor.ui.sectionsources">
		<sectionsource
			class="net.officefloor.eclipse.extension.sectionsource.section.SectionModelSectionSourceExtension" />
	</extension>
	<extension point="net.officefloor.ui.officesources">
		<officesource
			class="net.officefloor.eclipse.extension.officesource.office.OfficeModelOfficeSourceExtension">
		</officesource>
	</extension>
 <extension
       point="net.officefloor.ui.teamsources">
    <teamsource
          class="net.officefloor.eclipse.extension.teamsource.teams.OnePersonTeamSourceExtension">
    </teamsource>
 </extension>
 <extension
       point="net.officefloor.ui.teamsources">
    <teamsource
          class="net.officefloor.eclipse.extension.teamsource.teams.PassiveTeamSourceExtension">
    </teamsource>
 </extension>
 <extension
       point="net.officefloor.ui.teamsources">
    <teamsource
          class="net.officefloor.eclipse.extension.teamsource.teams.LeaderFollowerTeamSourceExtension">
    </teamsource>
 </extension>
 <extension
       point="net.officefloor.ui.teamsources">
    <teamsource
          class="net.officefloor.eclipse.extension.teamsource.teams.WorkerPerTaskTeamSourceExtension">
    </teamsource>
 </extension>
	<extension point="org.eclipse.jdt.core.classpathContainerInitializer">
		<classpathContainerInitializer
			class="net.officefloor.eclipse.classpathcontainer.OfficeFloorClasspathContainerInitialiser"
			id="net.officefloor.eclipse.OFFICE_FLOOR">
		</classpathContainerInitializer>
	</extension>
 <extension
       point="net.officefloor.ui.teamsources">
    <teamsource
          class="net.officefloor.eclipse.extension.teamsource.teams.ProcessContextTeamSourceExtension">
    </teamsource>
 </extension>
</plugin>
