~~~
~~ #%L
~~ Static Content Tutorial
~~ %%
~~ Copyright (C) 2005 - 2020 Daniel Sagenschneider
~~ %%
~~ This program is free software: you can redistribute it and/or modify
~~ it under the terms of the GNU Affero General Public License as published by
~~ the Free Software Foundation, either version 3 of the License, or
~~ (at your option) any later version.
~~ 
~~ This program is distributed in the hope that it will be useful,
~~ but WITHOUT ANY WARRANTY; without even the implied warranty of
~~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
~~ GNU General Public License for more details.
~~ 
~~ You should have received a copy of the GNU Affero General Public License
~~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
~~ #L%
~~~

                                               -----------------------
                                               Static Content Tutorial 
                                               -----------------------
					                            Daniel Sagenschneider
                                               -----------------------

Static Content Tutorial

  This tutorial demonstrates servicing static content (files) with WoOF.

  {{{http://sourceforge.net/projects/officefloor/files/maven/maven2/net/officefloor/tutorial/StaticContentHttpServer/${projectVersion}/StaticContentHttpServer-${projectVersion}-project.zip/download}Download Tutorial Source}}
  

*/PUBLIC

  To have static files served by WoOF, create a <<<PUBLIC>>> folder on the class path.  Any files within this directory will be served as static files by WoOF.

  As anything on the class path <<</PUBLIC/**>>> is served as static files, this gives a lot of flexibility in making the static files of the single page application available:
  
   * by copying the files into the built jar
   
   * by creating a separate jar containing the static files and adding to the runtime class path
   
   * other mechanisms, so the static files can be found by class path lookup

 
*Testing

  The following shows obtaining the <<<index.html>>> static file:
  
%{snippet|id=tutorial|file=${basedir}/src/test/java/net/officefloor/tutorial/staticcontenthttpserver/StaticContentHttpServerTest.java|ignoreDownloadError=false}



Next

  The {{{../LoggerHttpServer/index.html}next tutorial}} covers logging.
