                                               -----------------------
                                                  Logger Tutorial 
                                               -----------------------
					                            Daniel Sagenschneider
                                               -----------------------

Logger Tutorial

  This tutorial demonstrates using logging.

  To focus on logging, this tutorial uses a simple application that logs the input string sent by the client. 

  {{{http://sourceforge.net/projects/officefloor/files/maven/maven2/net/officefloor/tutorial/LoggerHttpServer/${projectVersion}/LoggerHttpServer-${projectVersion}-project.zip/download}Download Tutorial Source}}



  TODO complete tutorial