<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="4.2"?>
<plugin>
   <extension
         point="net.officefloor.ui.managedobjectsources">
      <managedobjectsource
            class="net.officefloor.eclipse.jdbc.JdbcManagedObjectSourceExtension">
      </managedobjectsource>
   </extension>
   <extension
         point="net.officefloor.ui.managedobjectsources">
      <managedobjectsource
            class="net.officefloor.eclipse.jndi.JndiContextManagedObjectSourceExtension">
      </managedobjectsource>
   </extension>
   <extension
         point="net.officefloor.ui.managedobjectsources">
      <managedobjectsource
            class="net.officefloor.eclipse.jndi.JndiObjectManagedObjectSourceExtension">
      </managedobjectsource>
   </extension>
   <extension
         point="net.officefloor.ui.worksources">
      <worksource
            class="net.officefloor.eclipse.jndi.JndiWorkSourceExtension">
      </worksource>
   </extension>
   <!-- START SNIPPET: tutorial -->
   <extension
         point="net.officefloor.ui.managedobjectsources">
      <managedobjectsource
            class="net.officefloor.eclipse.jpa.JpaEntityManagerManagedObjectSourceExtension">
      </managedobjectsource>
   </extension>
   <!-- END SNIPPET: tutorial -->
	<extension point="net.officefloor.ui.worksources">
		<worksource
			class="net.officefloor.eclipse.socket.HttpRouteWorkSourceExtension" />
	</extension>
	<extension point="net.officefloor.ui.worksources">
		<worksource
			class="net.officefloor.eclipse.socket.HttpFileFactoryWorkSourceExtension" />
	</extension>
	<extension point="net.officefloor.ui.worksources">
		<worksource
			class="net.officefloor.eclipse.socket.HttpFileSenderWorkSourceExtension" />
	</extension>
	<extension point="net.officefloor.ui.worksources">
		<worksource
			class="net.officefloor.eclipse.socket.HttpParametersLoaderWorkSourceExtension" />
	</extension>
	<extension point="net.officefloor.ui.worksources">
		<worksource
			class="net.officefloor.eclipse.socket.HttpTemplateWorkSourceExtension" />
	</extension>
	<extension point="net.officefloor.ui.worksources">
		<worksource
			class="net.officefloor.eclipse.socket.HttpResponseSenderWorkSourceExtension">
		</worksource>
	</extension>
	<extension point="net.officefloor.ui.managedobjectsources">
		<managedobjectsource
			class="net.officefloor.eclipse.socket.TcpServerSocketManagedObjectSourceExtension" />
	</extension>
	<extension point="net.officefloor.ui.managedobjectsources">
		<managedobjectsource
			class="net.officefloor.eclipse.socket.SecureTcpServerSocketManagedObjectSourceExtension">
		</managedobjectsource>
	</extension>
	<extension point="net.officefloor.ui.managedobjectsources">
		<managedobjectsource
			class="net.officefloor.eclipse.socket.HttpServerSocketManagedObjectSourceExtension" />
	</extension>
	<extension point="net.officefloor.ui.managedobjectsources">
		<managedobjectsource
			class="net.officefloor.eclipse.socket.HttpsServerSocketManagedObjectSourceExtension">
		</managedobjectsource>
	</extension>
	<extension point="net.officefloor.ui.managedobjectsources">
		<managedobjectsource
			class="net.officefloor.eclipse.socket.HttpParametersLoaderManagedObjectSourceExtension">
		</managedobjectsource>
	</extension>
	<extension point="net.officefloor.ui.managedobjectsources">
		<managedobjectsource
			class="net.officefloor.eclipse.socket.HttpSessionManagedObjectSourceExtension">
		</managedobjectsource>
	</extension>
	<extension point="net.officefloor.ui.managedobjectsources">
		<managedobjectsource
			class="net.officefloor.eclipse.socket.HttpSessionAttributeManagedObjectSourceExtension">
		</managedobjectsource>
	</extension>
	<extension point="net.officefloor.ui.managedobjectsources">
		<managedobjectsource
			class="net.officefloor.eclipse.socket.HttpSessionAttributeRetrieverManagedObjectSourceExtension">
		</managedobjectsource>
	</extension>
</plugin>
