<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="4.2"?>
<plugin>
   <extension
         point="net.officefloor.ui.managedobjectsources">
      <managedobjectsource
            class="net.officefloor.eclipse.jdbc.JdbcManagedObjectSourceExtension">
      </managedobjectsource>
   </extension>
   <extension
         point="net.officefloor.ui.managedobjectsources">
      <managedobjectsource
            class="net.officefloor.eclipse.jndi.JndiContextManagedObjectSourceExtension">
      </managedobjectsource>
   </extension>
   <extension
         point="net.officefloor.ui.managedobjectsources">
      <managedobjectsource
            class="net.officefloor.eclipse.jndi.JndiObjectManagedObjectSourceExtension">
      </managedobjectsource>
   </extension>
   <extension
         point="net.officefloor.ui.worksources">
      <worksource
            class="net.officefloor.eclipse.jndi.JndiWorkSourceExtension">
      </worksource>
   </extension>
   <!-- START SNIPPET: tutorial -->
   <extension
         point="net.officefloor.ui.managedobjectsources">
      <managedobjectsource
            class="net.officefloor.eclipse.jpa.JpaEntityManagerManagedObjectSourceExtension">
      </managedobjectsource>
   </extension>
   <!-- END SNIPPET: tutorial -->
   <extension
         point="net.officefloor.woof.wooftemplateextensionsources">
      <wooftemplateextensionsource
            class="net.officefloor.eclipse.json.JsonWoofTemplateExtensionSourceExtension">
      </wooftemplateextensionsource>
   </extension>
</plugin>
