<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
    <extension id="net.officefloor.editors" name="Editors" point="org.eclipse.ui.editors">
        <editor class="net.officefloor.eclipse.desk.DeskEditor" default="true" extensions="desk" icon="icons/desk.gif" id="net.officefloor.editors.desk" name="Desk Editor"/>
        <editor class="net.officefloor.eclipse.room.RoomEditor" default="true" extensions="room" icon="icons/room.gif" id="net.officefloor.editors.room" name="Room Editor"/>
        <editor class="net.officefloor.eclipse.office.OfficeEditor" default="true" extensions="office" icon="icons/office.gif" id="net.officefloor.editors.office" name="Office Editor"/>
        <editor class="net.officefloor.eclipse.officefloor.OfficeFloorEditor" default="true" extensions="officefloor" icon="icons/officefloor.gif" id="net.officefloor.editors.officefloor" name="OfficeFloor Editor"/>
    </extension>
    <extension point="org.eclipse.ui.newWizards">
        <category id="net.officefloor.eclipse" name="Office Floor">
      </category>
        <wizard category="net.officefloor.eclipse" class="net.officefloor.eclipse.wizards.DeskNewWizard" icon="icons/desk.gif" id="net.officefloor.eclipse.wizards.DeskNewWizard" name="Desk">
      </wizard>
        <wizard category="net.officefloor.eclipse" class="net.officefloor.eclipse.wizards.RoomNewWizard" icon="icons/room.gif" id="net.officefloor.eclipse.wizards.RoomNewWizard" name="Room">
      </wizard>
        <wizard category="net.officefloor.eclipse" class="net.officefloor.eclipse.wizards.OfficeNewWizard" icon="icons/office.gif" id="net.officefloor.eclipse.wizards.OfficeNewWizard" name="Office">
      </wizard>
        <wizard category="net.officefloor.eclipse" class="net.officefloor.eclipse.wizards.OfficeFloorNewWizard" icon="icons/officefloor.gif" id="net.officefloor.eclipse.wizards.OfficeFloorNewWizard" name="Office Floor">
      </wizard>
    </extension>
    <extension point="org.eclipse.debug.core.launchConfigurationTypes">
        <launchConfigurationType delegate="net.officefloor.eclipse.launch.OfficeFloorLaunchConfigurationDelegate" id="net.officefloor.eclipse.launch.configurationtype.officeFloor" modes="run, debug" name="Office Floor">
      </launchConfigurationType>
    </extension>
    <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
        <launchConfigurationTypeImage configTypeID="net.officefloor.eclipse.launch.configurationtype.officeFloor" icon="icons/officefloor.gif" id="net.officefloor.eclipse.launch.icon.officeFloor">
      </launchConfigurationTypeImage>
    </extension>
    <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
        <launchConfigurationTabGroup class="net.officefloor.eclipse.launch.OfficeFloorTabGroup" id="net.officefloor.eclipse.launch.tabgroup.officeFloor" type="net.officefloor.eclipse.launch.configurationtype.officeFloor">
      </launchConfigurationTabGroup>
    </extension>
    <extension point="org.eclipse.debug.ui.launchShortcuts">
        <shortcut class="net.officefloor.eclipse.launch.OfficeFloorLaunchShortcut" icon="icons/officefloor.gif" id="net.officefloor.eclipse.launch.shortcut.officeFloor" label="Office Floor" modes="run,debug">
            <configurationType id="net.officefloor.eclipse.launch.configurationtype.officeFloor">
         </configurationType>
            <contextualLaunch>
                <enablement>
                    <with variable="selection">
                        <count value="1"/>
                        <iterate>
                            <adapt type="org.eclipse.core.resources.IResource">
                                <test property="org.eclipse.core.resources.name" value="*.officefloor"/>
                            </adapt>
                        </iterate>
                    </with>
                </enablement>
            </contextualLaunch>
        </shortcut>
    </extension>
</plugin>
