<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="workloader" name="Work Loader" schema="schema/workloader.exsd"/>
   <extension-point id="managedobjectsource" name="Managed Object Source" schema="schema/managedobjectsource.exsd"/>
    <extension id="net.officefloor.editors" name="Editors" point="org.eclipse.ui.editors">
        <editor
              class="net.officefloor.eclipse.desk.DeskEditor"
              contributorClass="net.officefloor.eclipse.common.CoreEditorActionContributor"
              default="true"
              extensions="desk"
              icon="icons/desk.gif"
              id="net.officefloor.editors.desk"
              name="Desk Editor"/>
        <editor
              class="net.officefloor.eclipse.section.SectionEditor"
              contributorClass="net.officefloor.eclipse.common.CoreEditorActionContributor"
              default="true"
              extensions="room"
              icon="icons/room.gif"
              id="net.officefloor.editors.room"
              name="Room Editor"/>
        <editor
              class="net.officefloor.eclipse.office.OfficeEditor"
              contributorClass="net.officefloor.eclipse.common.CoreEditorActionContributor"
              default="true"
              extensions="office"
              icon="icons/office.gif"
              id="net.officefloor.editors.office"
              name="Office Editor"/>
        <editor
              class="net.officefloor.eclipse.officefloor.OfficeFloorEditor"
              contributorClass="net.officefloor.eclipse.common.CoreEditorActionContributor"
              default="true"
              extensions="officefloor"
              icon="icons/officefloor.gif"
              id="net.officefloor.editors.officefloor"
              name="OfficeFloor Editor"/>
    </extension>
    <extension point="org.eclipse.ui.newWizards">
        <category id="net.officefloor.eclipse" name="Office Floor">
      </category>
        <wizard category="net.officefloor.eclipse" class="net.officefloor.eclipse.wizard.file.DeskNewWizard" icon="icons/desk.gif" id="net.officefloor.eclipse.wizards.DeskNewWizard" name="Desk">
      </wizard>
        <wizard category="net.officefloor.eclipse" class="net.officefloor.eclipse.wizard.file.RoomNewWizard" icon="icons/room.gif" id="net.officefloor.eclipse.wizards.RoomNewWizard" name="Room">
      </wizard>
        <wizard category="net.officefloor.eclipse" class="net.officefloor.eclipse.wizard.file.OfficeNewWizard" icon="icons/office.gif" id="net.officefloor.eclipse.wizards.OfficeNewWizard" name="Office">
      </wizard>
        <wizard category="net.officefloor.eclipse" class="net.officefloor.eclipse.wizard.file.OfficeFloorNewWizard" icon="icons/officefloor.gif" id="net.officefloor.eclipse.wizards.OfficeFloorNewWizard" name="Office Floor">
      </wizard>
    </extension>
    <extension point="org.eclipse.debug.core.launchConfigurationTypes">
        <launchConfigurationType delegate="net.officefloor.eclipse.launch.OfficeFloorLaunchConfigurationDelegate" id="net.officefloor.eclipse.launch.configurationtype.officeFloor" modes="run, debug" name="Office Floor">
      </launchConfigurationType>
    </extension>
    <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
        <launchConfigurationTypeImage configTypeID="net.officefloor.eclipse.launch.configurationtype.officeFloor" icon="icons/officefloor.gif" id="net.officefloor.eclipse.launch.icon.officeFloor">
      </launchConfigurationTypeImage>
    </extension>
    <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
        <launchConfigurationTabGroup class="net.officefloor.eclipse.launch.OfficeFloorTabGroup" id="net.officefloor.eclipse.launch.tabgroup.officeFloor" type="net.officefloor.eclipse.launch.configurationtype.officeFloor">
      </launchConfigurationTabGroup>
    </extension>
    <extension point="org.eclipse.debug.ui.launchShortcuts">
        <shortcut class="net.officefloor.eclipse.launch.OfficeFloorLaunchShortcut" icon="icons/officefloor.gif" id="net.officefloor.eclipse.launch.shortcut.officeFloor" label="Office Floor" modes="run,debug">
            <configurationType id="net.officefloor.eclipse.launch.configurationtype.officeFloor">
         </configurationType>
            <contextualLaunch>
                <enablement>
                    <with variable="selection">
                        <count value="1"/>
                        <iterate>
                            <adapt type="org.eclipse.core.resources.IResource">
                                <test property="org.eclipse.core.resources.name" value="*.officefloor"/>
                            </adapt>
                        </iterate>
                    </with>
                </enablement>
            </contextualLaunch>
        </shortcut>
    </extension>
    <extension point="org.eclipse.ui.actionSets">
      <actionSet label="Office Floor Action Set" visible="true" id="net.officefloor.eclipse.actionSet">
         <menu label="Office Floor" id="officefloorMenu">
            <separator name="officefloorGroup"/>
         </menu>
         <action
               label="Filing Cabinet"
               icon="icons/officefloor.gif"
               class="net.officefloor.eclipse.tool.filingcabinet.FilingCabinetAction"
               menubarPath="officefloorMenu/officefloorGroup"
               toolbarPath="officefloorGroup"
               id="net.officefloor.eclipse.actions.FilingCabinetAction">
         </action>
      </actionSet>
   </extension>
    <extension
          point="net.officefloor.eclipse.workloader">
       <workloader
             class="net.officefloor.eclipse.extension.workloader.clazz.ClassWorkLoaderExtension">
       </workloader>
    </extension>
    <extension
          point="net.officefloor.eclipse.managedobjectsource">
       <managedobjectsource
             class="net.officefloor.eclipse.extension.managedobjectsource.internal.MockManagedObjectSourceExtension">
       </managedobjectsource>
    </extension>
    <extension
          point="org.eclipse.jdt.core.classpathContainerInitializer">
       <classpathContainerInitializer
             class="net.officefloor.eclipse.classpathcontainer.OfficeFloorClasspathContainerInitialiser"
             id="net.officefloor.eclipse.OFFICE_FLOOR">
       </classpathContainerInitializer>
    </extension>
</plugin>
