<?xml version="1.0" encoding="UTF-8" standalone="no"?><?pde version="3.8"?><target includeMode="feature" name="2018-12" sequenceNumber="17">
<locations>
	<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="org.eclipse.fx.ide.feature.feature.group" version="3.4.1.201810030906"/>
		<unit id="org.eclipse.fx.ide.pde.feature.feature.group" version="3.4.1.201810030906"/>
		<repository location="http://download.eclipse.org/efxclipse/updates-released/3.4.1/site"/>
		<unit id="org.eclipse.fx.runtime.min.feature.feature.group" version="3.4.1.201810030500"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="org.eclipse.equinox.sdk.feature.group" version="3.16.0.v20181130-2106"/>
		<unit id="org.eclipse.gef.common.sdk.feature.group" version="5.0.0.201805280201"/>
		<unit id="org.eclipse.gef.fx.sdk.feature.group" version="5.0.2.201805280201"/>
		<unit id="org.eclipse.gef.mvc.fx.ui.feature.group" version="5.0.2.201805280201"/>
		<unit id="org.eclipse.gef.mvc.sdk.feature.group" version="5.0.2.201805280201"/>
		<unit id="org.eclipse.m2e.feature.feature.group" version="1.10.0.20181127-2120"/>
		<unit id="org.eclipse.sdk.ide" version="4.10.0.I20181206-0815"/>
		<repository location="http://download.eclipse.org/releases/2018-12"/>
	</location>
</locations>
</target>