<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target includeMode="feature" name="2019-06" sequenceNumber="17">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="http://download.eclipse.org/releases/2019-06"/>
			<unit id="org.eclipse.gef.mvc.sdk.feature.group" version="5.1.0.201905091638"/>
			<unit id="org.eclipse.equinox.sdk.feature.group" version="3.18.0.v20190528-1257"/>
			<unit id="org.eclipse.m2e.feature.feature.group" version="1.12.0.20190529-1916"/>
			<unit id="org.eclipse.sdk.feature.group" version="4.12.0.v20190605-1801"/>
			<unit id="org.eclipse.gef.fx.sdk.feature.group" version="5.0.2.201905091638"/>
			<unit id="org.eclipse.gef.mvc.fx.ui.feature.group" version="5.1.0.201905091638"/>
			<unit id="org.eclipse.gef.common.sdk.feature.group" version="5.0.0.201905091638"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
			<repository location="http://download.eclipse.org/efxclipse/runtime-released/3.5.0/site"/>
			<unit id="org.eclipse.fx.target.feature.feature.group" version="3.5.0.201902252257"/>
		</location>
	</locations>
</target>