<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="OXYGEN" sequenceNumber="17">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.fx.ide.feature.feature.group" version="3.0.0.201705220750"/>
<unit id="org.eclipse.gef.common.sdk.feature.group" version="5.0.0.201711130301"/>
<unit id="org.eclipse.gef.fx.sdk.feature.group" version="5.0.2.201711130301"/>
<unit id="org.eclipse.gef.mvc.sdk.feature.group" version="5.0.2.201711130301"/>
<unit id="org.eclipse.m2e.feature.feature.group" version="1.8.3.20180227-2137"/>
<unit id="org.eclipse.sdk.feature.group" version="4.7.3.v20180330-0919"/>
<repository location="http://download.eclipse.org/releases/oxygen"/>
</location>
</locations>
</target>
