
body {
	color: #008BFF !important;
}

h2 {
	margin-top: 0.5em;
	margin-left: 1em;
	font-size: medium;
	font-family: verdana,helvetica,arial,sans-serif;
	color: #505050;
}

.message {
	width: 23em !important;
	border-radius: 5px;	
}

.gwt-Button {
    border-radius: 5px;
}

.typing {
	color: #C0C0C0;	
}

.messages {
	height: 7em;
	width: 100%;
}

#ChatWidget {
	width: 90%;
	height: 9em;
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
	background-color: #FFFFFF;
}
