<?xml version="1.0" encoding="UTF-8"?>
<plugin>

	<extension point="org.eclipse.ui.newWizards">
		<category 
		id="net.officefloor.category" 
		name="OfficeFloor" />
	</extension>
	<extension point="org.eclipse.ui.newWizards">
		<wizard 
		category="net.officefloor.category"
        class="net.officefloor.eclipse.ide.activity.ActivityNewWizard"
        icon="icons/Activity.png"
        id="net.officefloor.eclipse.activity.ActivityNewWizard"
        name="Activity"/>
	</extension>

	<extension point="org.eclipse.ui.editors"
		id="net.officefloor.ui.OfficeFloorEditors" 
		name="OfficeFloor Editors">
		<editor
        class="net.officefloor.eclipse.ide.activity.ActivityEditPart"
        contributorClass="net.officefloor.eclipse.ide.IdeEditorActionBarContributor"
        default="true"
        extensions="activity"
        icon="icons/Activity.png"
        id="net.officefloor.eclipse.activity"
        name="Activity Editor"/>
	</extension>

</plugin>