                                               -----------------------
                                                        Usage 
                                               -----------------------
					        Daniel Sagenschneider
                                               -----------------------

  There are various {{{./plugin-info.html}Goals}} available for working with OfficeFloor via maven.

Integration testing of OfficeFloor

  To run OfficeFloor for integration tests use the following configuration:
  
+--------------
	<build>
		<plugins>
			...
			<plugin>
				<groupId>${projectGroupId}</groupId>
				<artifactId>${projectArtifactId}</artifactId>
				<version>${projectVersion}</version>
				<configuration>
					<port>13778</port>
					<processName>example</processName>
					<officeFloorLocation>net/officefloor/example/ExampleOfficeFloor.officefloor</officeFloorLocation>
					<jvmOptions>
						<jvmOption>-Xmx=512m</jvmOption>
					</jvmOptions>
					<verbose>false</verbose>
				</configuration>
				<executions>
					<execution>
						<id>start-OfficeFloor</id>
						<phase>pre-integration-test</phase>
						<goals>
							<goal>start</goal>
							<goal>open</goal>
						</goals>
					</execution>
					<execution>
						<id>stop-OfficeFloor</id>
						<phase>post-integration-test</phase>
						<goals>
							<goal>stop</goal>
						</goals>
					</execution>
				</executions>
			</plugin>
			...
		</plugins>
	</build>

+--------------

