<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_9" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>EJB Orchestration Example</display-name>
<!--  
	<filter>
		<filter-name>ServletMappedDoFilter_Filter</filter-name>
		<filter-class>tests.Filter.DoFilter_Filter</filter-class>
		<init-param>
			<param-name>attribute</param-name>
			<param-value>tests.Filter.DoFilter_Filter.SERVLET_MAPPED</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>ServletMappedDoFilter_Filter</filter-name>
		<url-pattern>/DoFilterTest</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
-->
<!--  
	<servlet>
		<servlet-name>welcome</servlet-name>
		<servlet-class>WelcomeServlet</servlet-class>
	</servlet>
-->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
<!--  
	<error-page>
		<exception-type>java.lang.ArrayIndexOutOfBoundsException</exception-type>
		<location>/ServletErrorPage</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/error404.html</location>
	</error-page>
-->
</web-app>