~~~
~~ #%L
~~ ZIO Tutorial
~~ %%
~~ Copyright (C) 2005 - 2020 Daniel Sagenschneider
~~ %%
~~ Licensed under the Apache License, Version 2.0 (the "License");
~~ you may not use this file except in compliance with the License.
~~ You may obtain a copy of the License at
~~
~~      http://www.apache.org/licenses/LICENSE-2.0
~~
~~ Unless required by applicable law or agreed to in writing, software
~~ distributed under the License is distributed on an "AS IS" BASIS,
~~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~~ See the License for the specific language governing permissions and
~~ limitations under the License.
~~ #L%
~~~

                                               -----------------------
                                               ZIO Tutorial
                                               -----------------------
					                            Daniel Sagenschneider
                                               -----------------------

ZIO Tutorial

  This tutorial demonstrates using {{{https://zio.dev}ZIO}} within a Spring Boot application.

  The application retrieves a message from an H2 database via a Spring Data JPA repository and
  returns it in an HTTP response.

  {{{https://github.com/officefloor/OfficeFloor/tree/master/tutorials/springboot/SpringRestZioHttpServer}Tutorial Source}}



*Maven dependency

  Add ZIO support alongside the Spring Boot starter:

%{snippet|id=tutorial|file=${basedir}/pom.xml|ignoreDownloadError=false}



*Application class

  Register <<<DefaultScalaModule>>> so that Jackson can serialise and deserialise Scala case
  classes used for the request and response:

%{snippet|id=tutorial|file=${basedir}/src/main/scala/net/officefloor/tutorial/ziohttpserver/Application.scala|ignoreDownloadError=false}



*ZIO service

  The ZIO effect uses <<<ZIO.serviceWithZIO>>> to retrieve a message from the injected
  <<<MessageRepository>>> environment:

%{snippet|id=tutorial|file=${basedir}/src/main/scala/net/officefloor/tutorial/ziohttpserver/MessageService.scala|ignoreDownloadError=false}

  This is tested without any HTTP or Spring infrastructure:

%{snippet|id=tutorial|file=${basedir}/src/test/scala/net/officefloor/tutorial/ziohttpserver/MessageServiceTest.scala|ignoreDownloadError=false}



*Service logic

  The <<<service>>> method receives the <<<@RequestBody>>> and the Spring-injected
  <<<MessageRepository>>>.  It wires the repository into the ZIO environment and returns
  <<<ZIO[Any, Throwable, Message]>>>.  OfficeFloor (via <<<officescala_zio>>>) detects the ZIO
  return type, runs it, and passes the result as the <<<@Parameter>>> to the <<<send>>> method:

%{snippet|id=service|file=${basedir}/src/main/scala/net/officefloor/tutorial/ziohttpserver/ServiceLogic.scala|ignoreDownloadError=false}

%{snippet|id=send|file=${basedir}/src/main/scala/net/officefloor/tutorial/ziohttpserver/ServiceLogic.scala|ignoreDownloadError=false}



*REST endpoint

%{snippet|file=${basedir}/src/main/resources/officefloor/rest/index.POST.yml|ignoreDownloadError=false}



*Repository

  The repository is a standard Spring Data JPA interface injected by Spring Boot:

%{snippet|id=tutorial|file=${basedir}/src/main/java/net/officefloor/tutorial/ziohttpserver/MessageRepository.java|ignoreDownloadError=false}

%{snippet|id=tutorial|file=${basedir}/src/main/java/net/officefloor/tutorial/ziohttpserver/Message.java|ignoreDownloadError=false}



*Request and Response

%{snippet|id=tutorial|file=${basedir}/src/main/scala/net/officefloor/tutorial/ziohttpserver/ZioRequest.scala|ignoreDownloadError=false}

%{snippet|id=tutorial|file=${basedir}/src/main/scala/net/officefloor/tutorial/ziohttpserver/ZioResponse.scala|ignoreDownloadError=false}



*Database

  Spring Boot auto-initialises the embedded H2 database from <<<data.sql>>> on the classpath
  (Hibernate creates the schema from the JPA entity):

%{snippet|file=${basedir}/src/main/resources/data.sql|ignoreDownloadError=false}



*Testing

%{snippet|id=tutorial|file=${basedir}/src/test/scala/net/officefloor/tutorial/ziohttpserver/ZioHttpServerTest.scala|ignoreDownloadError=false}



Next

  Return to the {{{../../index.html}tutorials}} index to explore the full range of OfficeFloor capabilities.
