                                               -----------------------
                                                        Usage 
                                               -----------------------
					        Daniel Sagenschneider
                                               -----------------------

  The following configuration is used to generate the PDF of the OfficeFloor site documentation:

%{snippet|id=pdf|file=${baseDir}/../../pom.xml}
