~~~
~~ #%L
~~ Azure Web Apps Tutorial
~~ %%
~~ Copyright (C) 2005 - 2021 Daniel Sagenschneider
~~ %%
~~ This program is free software: you can redistribute it and/or modify
~~ it under the terms of the GNU Affero General Public License as published by
~~ the Free Software Foundation, either version 3 of the License, or
~~ (at your option) any later version.
~~ 
~~ This program is distributed in the hope that it will be useful,
~~ but WITHOUT ANY WARRANTY; without even the implied warranty of
~~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
~~ GNU General Public License for more details.
~~ 
~~ You should have received a copy of the GNU Affero General Public License
~~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
~~ #L%
~~~

                                               -----------------------
                                               Azure Web Apps Tutorial 
                                               -----------------------
					                            Daniel Sagenschneider
                                               -----------------------

Azure Web Apps Tutorial

  This tutorial demonstrates running within {{{https://azure.microsoft.com/services/app-service/web/}Azure Web Apps}}.

  {{{https://github.com/officefloor/OfficeFloor/tree/master/officefloor/tutorials/AzureWebAppsHttpServer}Tutorial Source}}



*Azure

  {{{https://azure.microsoft.com/services/app-service/web/}Azure Web Apps}} is able to run Servlet applications.  Therefore, OfficeFloor is configured as a Servlet application as follows:
  
%{snippet|id=azure|file=${basedir}/pom.xml|ignoreDownloadError=false}



*Deploying to Azure

  The following configuration deploys the application to Azure:

%{snippet|id=deploy|file=${basedir}/pom.xml|ignoreDownloadError=false}

  The properties are configured in the maven <<<settings.xml>>> file to avoid being checked into source code management.  See the {{{https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-java-application}Azure tutorial}} regarding setting up Azure and configuring the properties.



*Testing

  The functionality can be tested just like any other Web on OfficeFloor (WoOF) application:
  
%{snippet|id=tutorial|file=${basedir}/src/test/java/net/officefloor/tutorial/azurewebappshttpserver/AzureWebAppsHttpServerTest.java|ignoreDownloadError=false}



Next

  The {{{../PayPalHttpServer/index.html}next tutorial}} covers integrating PayPal into OfficeFloor.
