                                               -----------------------
                                                    Cloud Hosting 
                                               -----------------------
					        Daniel Sagenschneider
                                               -----------------------

  <<Cloud Computing Hosting>>

  This tutorial demonstrates running OfficeFloor applications within some Cloud Computing providers.
    
  {{{http://sourceforge.net/projects/officefloor/files/maven/maven2/net/officefloor/tutorial/FeatureApp/${projectVersion}/FeatureApp-${projectVersion}-project.zip/download}Download Tutorial Source}}



Amazon

  TODO document deploying to Amazon.
  

OpenShift by RedHat

  TODO document deploying to OpenShift.


Google App Engine

  TODO document deploying to Google App Engine.


Next

  See the {{{../index.html}other tutorials}} for further functionality.

