<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="4.2"?>
<plugin>
   <extension
         point="net.officefloor.ui.managedobjectsources">
      <managedobjectsource
            class="net.officefloor.eclipse.jdbc.JdbcManagedObjectSourceExtension">
      </managedobjectsource>
   </extension>
   <extension
         point="net.officefloor.ui.managedobjectsources">
      <managedobjectsource
            class="net.officefloor.eclipse.jndi.JndiContextManagedObjectSourceExtension">
      </managedobjectsource>
   </extension>
   <extension
         point="net.officefloor.ui.managedobjectsources">
      <managedobjectsource
            class="net.officefloor.eclipse.jndi.JndiObjectManagedObjectSourceExtension">
      </managedobjectsource>
   </extension>
   <extension
         point="net.officefloor.ui.worksources">
      <worksource
            class="net.officefloor.eclipse.jndi.JndiWorkSourceExtension">
      </worksource>
   </extension>
   <!-- START SNIPPET: tutorial -->
   <extension
         point="net.officefloor.ui.managedobjectsources">
      <managedobjectsource
            class="net.officefloor.eclipse.jpa.JpaEntityManagerManagedObjectSourceExtension">
      </managedobjectsource>
   </extension>
   <!-- END SNIPPET: tutorial -->
   <extension
         point="net.officefloor.woof.wooftemplateextensionsources">
      <wooftemplateextensionsource
            class="net.officefloor.eclipse.gwt.GwtWoofTemplateExtensionSourceExtension">
      </wooftemplateextensionsource>
   </extension>
 	<extension point="org.eclipse.debug.core.launchConfigurationTypes">
		<launchConfigurationType
        delegate="net.officefloor.eclipse.woof.launch.WoofLaunchConfigurationDelegate"
        id="net.officefloor.eclipse.launch.configurationtype.woof"
        modes="run, debug"
        name="WoOF"
        sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
        sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
		</launchConfigurationType>
	</extension>
		<extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
		<launchConfigurationTypeImage
			configTypeID="net.officefloor.eclipse.launch.configurationtype.woof"
			icon="icons/Woof.png" id="net.officefloor.eclipse.launch.icon.woof">
		</launchConfigurationTypeImage>
	</extension>>
	<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
		<launchConfigurationTabGroup
			class="net.officefloor.eclipse.woof.launch.WoofTabGroup" id="net.officefloor.eclipse.launch.tabgroup.woof"
			type="net.officefloor.eclipse.launch.configurationtype.woof">
		</launchConfigurationTabGroup>
	</extension>
	<extension point="org.eclipse.debug.ui.launchShortcuts">
		<shortcut class="net.officefloor.eclipse.woof.launch.WoofLaunchShortcut"
			icon="icons/Woof.png" id="net.officefloor.eclipse.launch.shortcut.woof"
			label="WoOF" modes="run,debug">
			<configurationType
				id="net.officefloor.eclipse.launch.configurationtype.woof">
			</configurationType>
			<contextualLaunch>
				<enablement>
					<with variable="selection">
						<count value="1" />
						<iterate>
							<adapt type="org.eclipse.core.resources.IResource">
								<test property="org.eclipse.core.resources.name" value="*.woof" />
							</adapt>
						</iterate>
					</with>
				</enablement>
			</contextualLaunch>
		</shortcut>
	</extension>
</plugin>
