                                               -----------------------
                                                    GWT Tutorials 
                                               -----------------------
					        Daniel Sagenschneider
                                               -----------------------

  <<GWT Tutorials>>

  The tutorials demonstrate the simplicity in using {{{http://gwt.google.com}Google Web Toolkit (GWT)}} with WoOF to create Rich Internet Applications (RIA).
  
*--------------------------------------------------------------+------------------------------------------------------------+------------------------------+
|| Tutorial                                                    || Description                                               || Covered
*--------------------------------------------------------------+------------------------------------------------------------+------------------------------+
| {{{../GwtApp/index.html}GWT}}                                 | Easy configuration of GWT to generate JavaScript within the page | EntryPoint
*--------------------------------------------------------------+------------------------------------------------------------+------------------------------+
| {{{../GwtService/index.html}AJAX via GWT RPC}}                | Provides easy implementation of both AJAX functionality within the page and servicing by the server | Service Async Interface
*--------------------------------------------------------------+------------------------------------------------------------+------------------------------+
| {{{../CometApp/index.html}Comet}}                             | Shows the ease of using Comet (AJAX push, reverse AJAX) with WoOF | OfficeFloorComet
*--------------------------------------------------------------+------------------------------------------------------------+------------------------------+
| {{{../CometManualApp/index.html}Server events}}               | Demonstrates the ease of publishing events                 | @Comet
*--------------------------------------------------------------+------------------------------------------------------------+------------------------------+


Next

  Please see the {{{../index.html}other tutorials}} for further features.

