<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>

	<!-- START SNIPPET: filter -->
	<filter>
		<filter-name>WoOF</filter-name>
		<filter-class>net.officefloor.plugin.woof.servlet.WoofServletFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>WoOF</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- END SNIPPET: filter -->
	
</web-app>
