~~~
~~ #%L
~~ Deploy HTTP Server Tutorial
~~ %%
~~ Copyright (C) 2005 - 2020 Daniel Sagenschneider
~~ %%
~~ This program is free software: you can redistribute it and/or modify
~~ it under the terms of the GNU Affero General Public License as published by
~~ the Free Software Foundation, either version 3 of the License, or
~~ (at your option) any later version.
~~ 
~~ This program is distributed in the hope that it will be useful,
~~ but WITHOUT ANY WARRANTY; without even the implied warranty of
~~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
~~ GNU General Public License for more details.
~~ 
~~ You should have received a copy of the GNU Affero General Public License
~~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
~~ #L%
~~~

                                               -----------------------
                                                   Deploy Tutorial 
                                               -----------------------
					                             Daniel Sagenschneider
                                               -----------------------

Deploy Tutorial

  This tutorial demonstrates the ease of deploying OfficeFloor applications.

  {{{https://github.com/officefloor/OfficeFloor/tree/master/officefloor/tutorials/DeployHttpServer}Tutorial Source}}



* Deploying
  
  To deploy an OfficeFloor application, add the following build configuration to your <<<pom.xml>>>:
  
%{snippet|id=tutorial|file=${basedir}/pom.xml|ignoreDownloadError=false}

  This will create an executable jar that can be run with the following:
  
---------------
    java -jar <project-jar-file>
---------------

  In the case of this tutorial, it is:
                                                                                                                          
---------------
    java -jar DeployHttpServer-${project.version}.jar
---------------

*Docker

  As OfficeFloor applications can be run as a single command, it is easy to copy the jar file into a Docker image and run it.
  
  A simple Docker build file might look as follows:
  
---------------

FROM openjdk:8
COPY target/DeployHttpServer-${project.version}.jar server.jar
CMD ["java", "-Dhttp.port=8080", "-jar", "server.jar"]
  
---------------

  Various system properties can be used to configure OfficeFloor.  Please see:
  
   * {{{/apidocs/net/officefloor/server/http/HttpServerLocation.html}HttpServerLocation}}
   
   * {{{/apidocs/net/officefloor/server/http/HttpServer.html}HttpServer}}


*Next

  The {{{../HttpServletHttpServer/index.html}next tutorial}} looks at deploying to Servlet container (useful for PaaS cloud providers).
