~~~
~~ #%L
~~ WoOF Archetype
~~ %%
~~ Copyright (C) 2005 - 2020 Daniel Sagenschneider
~~ %%
~~ This program is free software: you can redistribute it and/or modify
~~ it under the terms of the GNU Affero General Public License as published by
~~ the Free Software Foundation, either version 3 of the License, or
~~ (at your option) any later version.
~~ 
~~ This program is distributed in the hope that it will be useful,
~~ but WITHOUT ANY WARRANTY; without even the implied warranty of
~~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
~~ GNU General Public License for more details.
~~ 
~~ You should have received a copy of the GNU Affero General Public License
~~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
~~ #L%
~~~

				       ------------------
				    My First OfficeFloor Application
				       ------------------
				      Daniel Sagenschneider
				       ------------------

My first OfficeFloor application
  
  This tutorial walks you through creating and running your first Web on OfficeFloor (WoOF) application.



*Quick project setup

  To create a Web on OfficeFloor (WoOF) project use the {{{http://maven.apache.org/download.html}Maven}} WoOF archetype.  Run the following within an empty directory:

+-----------------------------------------+


    mvn archetype:generate -DarchetypeGroupId=${projectGroupId} -DarchetypeArtifactId=${projectArtifactId}


+-----------------------------------------+

  Select <<<${projectGroupId}:${projectArtifactId}>>> (if not already selected) and provide the Maven configuration parameters.  The tutorial uses the following parameters:

%{snippet|file=${basedir}/src/test/resources/projects/woof/archetype.properties|ignoreDownloadError=false}
  


*Application code

  The application is configured through the <<<application.woof>>> file.  Opening this file will provide the following graphical configuration for this tutorial's application. See {{{../../install.html}install}} for adding the OfficeFloor plugin to your favourite IDE.
  
[./images/woof-archetype-configuration.png] WoOF archetype project configuration.

  The very simple configuration shows servicing a REST call.  This is a simple application with the following code:
  
%{snippet|file=${basedir}/src/test/resources/projects/woof/reference/src/main/java/your/domain/HelloLogic.java|ignoreDownloadError=false}

  Please see the {{{../../tutorials/index.html}other tutorials}} for explanation of the code and the further features available.



*Testing the application

  The following test shows the ease in which to start and stop the application for testing.
  
%{snippet|file=${basedir}/src/test/resources/projects/woof/reference/src/test/java/your/domain/RunApplicationTest.java|ignoreDownloadError=false}

  OfficeFloor is fast enough to be started and stopped for unit testing.  This is deliberate to enable use as scale to zero server.  See the {{{../../tutorials/TestHttpServer/index.html}testing tutorial}} for further means of testing.


*Running the application

  Once the project is built, run the following within the project directory to start the application:

+-----------------------------------------+


    mvn net.officefloor.maven:officefloor-maven-plugin:${projectVersion}:open


+-----------------------------------------+

  The application will be available at: {{http://localhost:7878/hi/World}}

  To make the commands easier, add the following to your maven <<<~/.m2/settings.xml>>> file:
  
+-----------------------------------------+
  <pluginGroups>
    <pluginGroup>net.officefloor.maven</pluginGroup>
  </pluginGroups>
+-----------------------------------------+

  This will allow running the simpler command to start the application:

+-----------------------------------------+


    mvn officefloor:open


+-----------------------------------------+
  
  And the following to stop the application:

+-----------------------------------------+


    mvn officefloor:close


+-----------------------------------------+
  
  

Congratulations

  Congratulations you have just created and run your first application.
  
  The {{{../../tutorials/NavigateHttpServer/index.html}next tutorial}} covers configuring flows.

