~~~
~~ #%L
~~ Spring Web Flux HTTP Server Tutorial
~~ %%
~~ Copyright (C) 2005 - 2020 Daniel Sagenschneider
~~ %%
~~ Licensed under the Apache License, Version 2.0 (the "License");
~~ you may not use this file except in compliance with the License.
~~ You may obtain a copy of the License at
~~ 
~~      http://www.apache.org/licenses/LICENSE-2.0
~~ 
~~ Unless required by applicable law or agreed to in writing, software
~~ distributed under the License is distributed on an "AS IS" BASIS,
~~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~~ See the License for the specific language governing permissions and
~~ limitations under the License.
~~ #L%
~~~

                                               -----------------------
                                               Spring Web Flux Tutorial 
                                               -----------------------
					                            Daniel Sagenschneider
                                               -----------------------

Spring Web Flux Tutorial

  This tutorial demonstrates configuring Spring Web Flux Controllers within WoOF.  This enables using an existing Spring Application out of the box within WoOF.
   
  {{{https://github.com/officefloor/OfficeFloor/tree/master/officefloor/tutorials/SpringWebFluxHttpServer}Tutorial Source}}



*Spring Web Flux Controller

  The Spring Web Flux Controller to be integrated is as follows:
  
%{snippet|id=tutorial|file=${basedir}/src/main/java/net/officefloor/tutorial/springwebfluxhttpserver/SpringRestController.java|ignoreDownloadError=false}

  With the request and response models:

%{snippet|id=tutorial|file=${basedir}/src/main/java/net/officefloor/tutorial/springwebfluxhttpserver/RequestModel.java|ignoreDownloadError=false}
  
%{snippet|id=tutorial|file=${basedir}/src/main/java/net/officefloor/tutorial/springwebfluxhttpserver/ResponseModel.java|ignoreDownloadError=false}



*Configuring Spring Web Flux Controller

  To configure using Spring Web Flux Controller instances within WoOF, add the following dependency:
  
%{snippet|id=tutorial|file=${basedir}/pom.xml|ignoreDownloadError=false}

  Spring will also need to be configured in <<<application.objects>>>:
  
%{snippet|id=tutorial|file=${basedir}/src/main/resources/application.objects|ignoreDownloadError=false}

  This will have all the Spring Web Flux Controllers available at their request mapped paths.



*Testing

  The following tests demonstrate the Spring Web Flux Controllers servicing requests.
    
%{snippet|id=tutorial|file=${basedir}/src/test/java/net/officefloor/tutorial/springwebfluxhttpserver/SpringWebFluxHttpServerTest.java|ignoreDownloadError=false}


Next

  The {{{./procedure.html}next tutorial}} covers configuring a Spring Web Flux Controller as a procedure.
