<?xml version="1.0" encoding="UTF-8"?>
<web-app>

	<servlet>
		<servlet-name>Example</servlet-name>
		<servlet-class>net.officefloor.tutorial.servletmigration.ExampleHttpServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Example</servlet-name>
		<url-pattern>/example</url-pattern>
	</servlet-mapping>

</web-app>