                        -----------------
			    Download
			-----------------
	               Daniel Sagenschneider
			-----------------

Download

  To install OfficeFloor's stand-alone server (OfficeBuilding):
  
   [[1]] << {{{http://sourceforge.net/projects/officefloor/files/latest/download}Download OfficeFloor}} >>
  
   [[1]] Extract the downloaded file and change into the extracted <<<bin>>> folder
  
   [[1]] Run: <<<officebuilding start &>>>
  
   [[1]] Run: <<<buildingmanager>>>
  
  JConsole should now be running connected to the server.  See the OfficeBuilding MBean for running OfficeFloor applications or run <<<officebuilding help>>> for the various options.
  
  Next install the {{{./eclipse/index.html}OfficeFloor Eclipse Plug-in}} to start developing OfficeFloor applications.



Maven


*Installing OfficeFloor with Maven

  The OfficeFloor server can be installed by the following commands.
  
+----------------------------
        wget http://www.officefloor.net/pom.xml
        mvn install
+----------------------------

  If <<<wget>>> is not available download this {{{/pom.xml}pom.xml}} (right click and save as) and then run <<<mvn install>>> in same directory.

  After running the OfficeFloor server will be installed in the current directory.  Please see the above steps for running.


*Adding OfficeFloor to a project

  OfficeFloor is available as {{{http://maven.apache.org}Maven}} artifacts/dependencies.  As these are available from Maven Central, add the following to the project's <<<pom.xml>>> to include OfficeFloor's web functionality. 
  
  
+---------------------------
        <project>
            ...
            <dependencies>
                <dependency>
                    <groupId>net.officefloor.plugin</groupId>
                    <artifactId>officeplugin_woof</artifactId>
                    <version>${projectVersion}</version>
                    </dependency>
                </dependency>
            ...
            </dependencies>
        </project>
+---------------------------

  Details of developing applications with OfficeFloor are available in the {{{./tutorials/index.html}tutorials}}.


*Trialing latest OfficeFloor version

  The latest OfficeFloor artifacts are made available to try at the below repository before being released to Maven Central.

+----------------------------
        <project>
            ...
            <repositories>
                <repository>
                    <id>maven2-repository.officefloor.net</id>
                    <name>OfficeFloor Repository for Maven</name>
                    <url>http://www.officefloor.net/maven2/</url>
                </repository>
            </repositories>
            ...
        </project>
+----------------------------

