<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="4.2"?>
<plugin>
	<extension id="net.officefloor.ui.OfficeFloorEditors" name="OfficeFloor Editors"
		point="org.eclipse.ui.editors">
		<editor
        class="net.officefloor.eclipse.section.SectionEditor"
        contributorClass="net.officefloor.eclipse.section.AdaptedEditorActionBarContributor"
        default="true"
        extensions="section"
        id="net.officefloor.editor.section"
        name="Section Editor"/>
	</extension>
<!--
	<extension point="org.eclipse.ui.newWizards">
		<category
        id="net.officefloor.eclipse"
        name="OfficeFloor"
        parentCategory="net.officefloor.eclipse">
		</category>
		<wizard category="net.officefloor.eclipse"
			class="net.officefloor.eclipse.wizard.file.OfficeFloorNewWizard"
			icon="icons/OfficeFloor.png" id="net.officefloor.eclipse.wizards.OfficeFloorNewWizard"
			name="OfficeFloor">
		</wizard>
	</extension>
-->
</plugin>
