~~~
~~ #%L
~~ Dynamic HTTP Server Tutorial
~~ %%
~~ Copyright (C) 2005 - 2020 Daniel Sagenschneider
~~ %%
~~ Licensed under the Apache License, Version 2.0 (the "License");
~~ you may not use this file except in compliance with the License.
~~ You may obtain a copy of the License at
~~ 
~~      http://www.apache.org/licenses/LICENSE-2.0
~~ 
~~ Unless required by applicable law or agreed to in writing, software
~~ distributed under the License is distributed on an "AS IS" BASIS,
~~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~~ See the License for the specific language governing permissions and
~~ limitations under the License.
~~ #L%
~~~

                                               -----------------------
                                              Dynamic Rendering Tutorial 
                                               -----------------------
                                                Daniel Sagenschneider
                                               -----------------------

Dynamic Rendering Tutorial

  This tutorial demonstrates the simplicity in rendering dynamic content for a WoOF web application.
      
  The example used in this tutorial is the following simple dynamic page to show the current time and the listing of System properties:
  
[./images/DynamicHttpServer-screenshot.png] DynamicHttpServer screen shot.
    
  {{{https://github.com/officefloor/OfficeFloor/tree/master/officefloor/tutorials/DynamicHttpServer}Tutorial Source}}



*Template.woof.html

  The HTML for the page is as follows:

%{snippet|file=${basedir}/src/main/resources/Template.woof.html|ignoreDownloadError=false}

  First thing to notice is that the page/template can be rendered in a web browser.  The reason for this is to ensure that web page content can be created/edited by WYSIWYG web design tools.  This is deliberate to allow web page designers to focus on presentation of the web pages rather than having to understand scripting tags and to an extent programming constructs.  It also means the template can be viewed without having written any code - great for reviewing and tweaking the pages.

  To provide the developer control of rendering the dynamic content, there are non-obtrusive hooks for dynamically rending of the page.  The two hooks used in the above template are:

    * <<<$\{property\}>>> : which renders a bean property value to the page.

    * <<<$\{bean ... $\}>>> : indicates to obtain a bean by the property name to render the contents within the brackets.  This may optionally be placed inside a comment to not intrude on the HTML.



*TemplateLogic Class

  The logic for the rendering the page is the following POJO (plain old java object).
  
  Please note that WoOF integrates with {{{http://projectlombok.org/}Project Lombok}} to reduce the necessary code.  As per below the <<<@Data>>> annotations are used to generate the getters and constructors for the inner class beans.  It is highly recommended by the OfficeFloor team to consider use of {{{http://projectlombok.org/}Project Lombok}} to reduce the overall amount of code to be written. 
  
%{snippet|id=example|file=${basedir}/src/main/java/net/officefloor/tutorial/dynamichttpserver/TemplateLogic.java|ignoreDownloadError=false}

  WoOF reflectively invokes the <<<getTemplateData>>> method to obtain the bean containing the properties and further beans for dynamically rendering the page.  The returned object from the method is interrogated for the properties and beans.  In the case of above:
  
    * <<<$\{time\}>>> : is mapped to <<<Values.getTime()>>> to obtain the value to render to the page.
    
    * <<<$\{properties>>> : is mapped to the <<<Values.getProperties()>>> to obtain the bean to render the content within the brackets (i.e. up to the corresponding <<<$\}>>>).
    
    * <<<$\{noBean>>> : is mapped to the <<<Values.getNoBean()>>> which returns <<<null>>> causing the contents to not be rendered.
    
  WoOF makes generating repeating content, such as tables, very simple.  As the <<<Values.getProperties()>>> returns an array of <<<Property>>> objects, the contents are rendered for each element in the array.  As the contents have two further properties (<<<$\{name\}>>> and <<<$\{value\}>>>) these are taken from the current <<<Property>>> being rendered.
  
  It is possible to have beans contain further beans to allow complex data structures to be rendered to the page.
  
  To ensure integration between the Web Page Designer and Developer the bindings between the template and logic class are checked at start up so that missing bean and property methods are flagged immediately.  It is these binding checks that allow the two roles to work efficiently together.

  The <<<TemplateLogic>>> class has been kept simple in this example returning static content.  Later tutorials will demonstrate the use of dependency injection into methods to allow retrieving values from a HTTP session, database, etc.



*application.woof

  Now that the HTML template and logic class are available, they need to be configured into the WoOF application.  This configuration is within the <<<application.woof>>> file at the root of the class path (i.e. has no package prefix).  Under the hood this is an XML file however OfficeFloor has a strong focus on not hand coding XML configuration files.  {{{../../install.html}IDE plug-ins}} provides the graphical configuration of the WoOF web application.
  
  The reason for using graphical configuration is two fold:
  
    [[1]] XML configuration files are error prone and can become quite verbose making them difficult to manage
    
    [[1]] Graphical configuration allows other less technically inclined to review the functionality of the web application
      
  Once the IDE plug-in is installed you will be able to use the new wizard to create the <<<application.woof>>> file.  On creating and opening there should be a blank editor.  To make configuration changes:
  
    * hover the mouse on the left of the editor will bring up the pallete.  From this you can drag in new items for configuring.
    
    * dragging in a new item will provide a dialogue to configure the item
    
    * should you want to change the configuration of an item, however the mouse over it and click on the edit button that appears
    
    * to delete, again however over the item, and click the delete button
    
    * to wire up connections, click on an arrow within an item and then drag to the connecting arrow of another item
    
  For the tutorial, you need only the following configuration:
  
[./images/DynamicHttpServer-configuration.png] DynamicHttpServer configuration.

  This is the only configuration necessary for this web application.  The template will be made available at <<<http://localhost:7878/example>>> .  Later tutorials will look at linking page flows and dynamic behaviour.
   


*Unit Test

  As the template logic is just a POJO, WoOF adheres to OfficeFloor's focus on simplicity in testing.  The following example unit test shows the ease in which the <<<TemplateLogic>>> class can be unit tested.

%{snippet|id=pojo|file=${basedir}/src/test/java/net/officefloor/tutorial/dynamichttpserver/DynamicHttpServerTest.java|ignoreDownloadError=false}



Next

  The {{{../InteractiveHttpServer/index.html}next tutorial}} will look at an interactive page.
