<?xml version="1.0" encoding="UTF-8"?>
<plugin>

	<extension point="org.eclipse.ui.newWizards">
		<wizard
        category="net.officefloor.category"
        class="net.officefloor.eclipse.woof.WoofNewWizard"
        icon="icons/OfficeFloor.png"
        id="net.officefloor.eclipse.woof.WoofNewWizard"
        name="WoOF"/>
	</extension>
	<extension point="org.eclipse.ui.editors"
		id="net.officefloor.ui.OfficeFloorEditors" 
		name="OfficeFloor Editors"
		>
		<editor
        class="net.officefloor.eclipse.woof.WoofEditPart"
        contributorClass="net.officefloor.eclipse.ide.editor.IdeEditorActionBarContributor"
        default="true"
        extensions="woof"
        icon="icons/OfficeFloor.png"
        id="net.officefloor.eclipse.woof"
        name="WoOF Editor"/>
	</extension>

	<extension point="org.eclipse.ui.newWizards">
		<wizard 
			id="net.officefloor.eclipse.section.SectionNewWizard"
			class="net.officefloor.gef.section.SectionNewWizard"
			category="net.officefloor.category"
			name="Section">
		</wizard>
	</extension>
	<extension id="net.officefloor.ui.OfficeFloorEditors" name="OfficeFloor Editors"
		point="org.eclipse.ui.editors">
		<editor
	        id="net.officefloor.editor.section"
	        class="net.officefloor.gef.section.SectionEditor"
	        contributorClass="net.officefloor.eclipse.ide.editor.IdeEditorActionBarContributor"
	        default="true"
	        extensions="section"
	        name="Section Editor"/>
	</extension>

	<extension point="org.eclipse.ui.preferencePages">
		<page 
			id="new.officefloor.eclipse.ide.preferences"
	    	class="net.officefloor.eclipse.ide.preferences.OfficeFloorIdePreferencePage"
            name="OfficeFloor"
            />
	</extension>
	<extension point="org.eclipse.ui.newWizards">
		<category id="net.officefloor.category" name="OfficeFloor" />
	</extension>

</plugin>
