<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="4.2"?>
<plugin>
	<extension point="org.eclipse.ui.newWizards">
		<category id="net.officefloor.eclipse" name="OfficeFloor">
		</category>
		<wizard category="net.officefloor.eclipse"
			class="net.officefloor.eclipse.wizard.file.WoofNewWizard" icon="icons/Woof.png"
			id="net.officefloor.eclipse.wizards.WoofNewWizard" name="WoOF">
		</wizard>
	</extension>
	<extension id="net.officefloor.woof.WoofEditors" name="WoOF Editors"
		point="org.eclipse.ui.editors">
		<editor class="net.officefloor.eclipse.woof.WoofEditor"
			contributorClass="net.officefloor.eclipse.common.editor.CoreEditorActionContributor"
			default="true" extensions="woof" icon="icons/Woof.png" id="net.officefloor.woof.WoofEditor"
			name="WoOF Editor" />
	</extension>
 <extension
       point="net.officefloor.ui.extensionclasspathproviders">
    <extension-classpath-provider
          class="net.officefloor.eclipse.woof.WoofExtensionClasspathProvider">
    </extension-classpath-provider>
 </extension>
 <extension
       point="net.officefloor.ui.sectionsources">
    <sectionsource
          class="net.officefloor.eclipse.web.HttpTemplateSectionSourceExtension">
    </sectionsource>
 </extension>
 	<extension point="org.eclipse.debug.core.launchConfigurationTypes">
		<launchConfigurationType
        delegate="net.officefloor.eclipse.woof.launch.WoofLaunchConfigurationDelegate"
        id="net.officefloor.eclipse.launch.configurationtype.woof"
        modes="run, debug"
        name="WoOF"
        sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
        sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
		</launchConfigurationType>
	</extension>
		<extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
		<launchConfigurationTypeImage
			configTypeID="net.officefloor.eclipse.launch.configurationtype.woof"
			icon="icons/Woof.png" id="net.officefloor.eclipse.launch.icon.woof">
		</launchConfigurationTypeImage>
	</extension>>
	<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
		<launchConfigurationTabGroup
			class="net.officefloor.eclipse.woof.launch.WoofTabGroup" id="net.officefloor.eclipse.launch.tabgroup.woof"
			type="net.officefloor.eclipse.launch.configurationtype.woof">
		</launchConfigurationTabGroup>
	</extension>
	<extension point="org.eclipse.debug.ui.launchShortcuts">
		<shortcut class="net.officefloor.eclipse.woof.launch.WoofLaunchShortcut"
			icon="icons/Woof.png" id="net.officefloor.eclipse.launch.shortcut.woof"
			label="WoOF" modes="run,debug">
			<configurationType
				id="net.officefloor.eclipse.launch.configurationtype.woof">
			</configurationType>
			<contextualLaunch>
				<enablement>
					<with variable="selection">
						<count value="1" />
						<iterate>
							<adapt type="org.eclipse.core.resources.IResource">
								<test property="org.eclipse.core.resources.name" value="*.woof" />
							</adapt>
						</iterate>
					</with>
				</enablement>
			</contextualLaunch>
		</shortcut>
	</extension>
</plugin>
