                                               -----------------------
                                        Spring Controller Procedure Tutorial 
                                               -----------------------
					                            Daniel Sagenschneider
                                               -----------------------

Spring Controller Procedure Tutorial

  This tutorial demonstrates configuring a Spring Controller as a procedure.

  Adding a Spring Controller as a procedure, allows re-use of existing code. Ideally, over time, the Spring Controllers are simplified to methods taking advantage of OfficeFloor's {{{https://sagenschneider.blogspot.com/2019/02/inversion-of-coupling-control.html}IoCC}}. However, Spring Controllers are supported as procedures to avoid significant rewrites of your application code.  This enables taking advantage of OfficeFloor's features with existing code.
   
  {{{https://github.com/officefloor/OfficeFloor/tree/master/officefloor/tutorials/SpringControllerHttpServer}Tutorial Source}}



*Configuring Spring Controller

  Please see the {{{./index.html}Spring Controller Tutorial}} regarding configuring Spring Controllers into WoOF.  The tutorial needs to be followed to also enable Spring Controllers to be configured as procedures.



*Configuring as a Procedure

  Select the Spring Controller as a class when adding a procedure.
  
  Note: the Controller must be on the application's Spring scan path.
  
  The tutorial configuration is as follows:
  
[./images/SpringControllerHttpServer-configuration.png] SpringControllerHttpServer configuration.

  Note that the WoOF configured paths are different to the Spring Controller request mappings.  The only constraint on this is that the path parameters must match.


*Testing

  The following tests demonstrates the procedures.
    
%{snippet|id=tutorial|file=${basedir}/src/test/java/net/officefloor/tutorial/springcontrollerhttpserver/SpringControllerProcedureHttpServerTest.java|ignoreDownloadError=false}


Next

  The {{{./migrate.html}next tutorial}} covers migrating Spring Controllers for simpler code and avoid the dependency on Spring.
