<web-app>
	<display-name>Archetype Created Web Application</display-name>

	<!-- START SNIPPET: filter -->
	<filter>
		<filter-name>WoOF</filter-name>
		<filter-class>net.officefloor.plugin.woof.servlet.WoofServletFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>WoOF</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- END SNIPPET: filter -->
	
</web-app>
