

h2 {
	margin-left: 1em;
	font-size: medium;
	font-family: verdana,helvetica,arial,sans-serif;
	color: #505050;
}

p {
	margin-left: 1em;
	font-size: x-small;
}

#StockWatch {
	margin-left: 1em;
}

#StockGraph {
	margin-left: 0.5em;
}

.gwt-TabBarItem {
	font-size: 0.5em;
	font-weight: normal;
}


.StockWatchTh {
	background-color: #00B3FF;
	padding-left: 1em;
	font-size: x-small;
	text-align: right;
}

.StockWatchTd {
	font-size: x-small;
}

.StockWatchHeader {
	color: #FFFFFF;
}


.StockWatchFirstColumn {
	padding-left: 0em !important;
	text-align: left !important;
}

.StockWatchTd {
	padding-left: 1em;
	text-align: right;
}

.StockWatchEvenRow {
	background-color: #EFEFEF;
}

.StockWatchOddRow {
	background-color: #E5E5E5;
}

.StockWatchName {
	color: #505050;
}

.StockWatchHighlightPositive {
	background-color: #AFFFAF;
}

.StockWatchHighlightNegative {
	background-color: #FFDD44;
}

.StockWatchChangePositive {
	color: #00BB00;
	font-weight: bold;
}

.StockWatchChangeNegative {
	color: #EE0000;
	font-weight: bold;
}

.StockWatchNumber {
	color: #505050;
}