<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.officefloor.eclipse.workloader">
      <workloader
            class="net.officefloor.eclipse.socket.HttpRouteWorkLoaderExtension">
      </workloader>
   </extension>
   <extension
         point="net.officefloor.eclipse.workloader">
      <workloader
            class="net.officefloor.eclipse.socket.HttpFileWorkLoaderExtension">
      </workloader>
   </extension>
   <extension
         point="net.officefloor.eclipse.managedobjectsource">
      <managedobjectsource
            class="net.officefloor.eclipse.socket.HttpManagedObjectSourceExtension">
      </managedobjectsource>
   </extension>

</plugin>
