<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="4.2"?>
<plugin>
	<extension point="org.eclipse.ui.newWizards">
		<wizard 
			id="net.officefloor.eclipse.woof.WoofNewWizard"
			class="net.officefloor.eclipse.woof.WoofNewWizard"
			category="net.officefloor.category"
			name="WoOF"
			/>
	</extension>
	<extension point="org.eclipse.ui.editors"
		id="net.officefloor.ui.OfficeFloorEditors" 
		name="OfficeFloor Editors"
		>
		<editor
			id="net.officefloor.eclipse.woof"
        	class="net.officefloor.eclipse.woof.WoofEditor"
        	contributorClass="net.officefloor.eclipse.ide.editor.IdeEditorActionBarContributor"
        	default="true"
        	extensions="woof"
        	name="WoOF Editor"
        	/>
	</extension>
</plugin>