body {
	background-color: #BBE0FF !important;
	color: #008BFF !important;
}

.message {
	width: 25em !important;	
}

.gwt-Button {
    border-radius: 5px;
}

#header {
	margin: 10px;
}

#quiz {
	width: 90%;
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
	background-color: #FFFFFF;
}

#chat {
	width: 90%;
	height: 9em;
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
	background-color: #FFFFFF;
}

#question {
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
	background-color: #FFFFFF;
}

#results {
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
	background-color: #FFFFFF;
}