                                               -----------------------
                                               OfficeFloor Performance 
                                               -----------------------
					        Daniel Sagenschneider
                                               -----------------------

  SEDA - stagin (queue and thread pool)
  IoC - DI to describe
  Job - step with dependencies to service a request
  
  
Performance Test

  Profile of requests - static vs dynamic (servicing, caching and AJAX) -> decreasing static
  Clients - ratio of clients/connections to threads
  Connections - connections per client (guide is 2 but on rise)
