~~~
~~ #%L
~~ Google Signin Tutorial
~~ %%
~~ Copyright (C) 2005 - 2020 Daniel Sagenschneider
~~ %%
~~ This program is free software: you can redistribute it and/or modify
~~ it under the terms of the GNU Affero General Public License as published by
~~ the Free Software Foundation, either version 3 of the License, or
~~ (at your option) any later version.
~~ 
~~ This program is distributed in the hope that it will be useful,
~~ but WITHOUT ANY WARRANTY; without even the implied warranty of
~~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
~~ GNU General Public License for more details.
~~ 
~~ You should have received a copy of the GNU Affero General Public License
~~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
~~ #L%
~~~

                                               -----------------------
                                               Google Sign-in Tutorial 
                                               -----------------------
					                            Daniel Sagenschneider
                                               -----------------------

Google Sign-in Tutorial

  This tutorial demonstrates {{{https://developers.google.com/identity/sign-in/web/}Google Sign-in}} integrated into WoOF.
   
  {{{https://github.com/officefloor/OfficeFloor/tree/master/officefloor/tutorials/GoogleSigninHttpServer}Tutorial Source}}



*Sign-in JavaScript

  As per the {{{https://developers.google.com/identity/sign-in/web/}Google Sign-in tutorial}}, Google sign-in is configured as follows.
  
  Note that JQuery has been used.  However, any supported web / mobile front-end technology can be used.  See the {{{https://officefloor.appspot.com/}OfficeFloor Subscription App}} for example (code available {{{https://github.com/officefloor/Subscription}here}}).
      
%{snippet|file=${basedir}/src/main/resources/PUBLIC/index.html|ignoreDownloadError=false}

  This will use the Google sign-in features and send the Google Id Token to WoOF to login in the user.  This is confirmed by displaying the user's email (sent back from the WoOF server).



*Configuring Google Sign-in Integration

  Google sign-in is configured in <<<application.objects>>> as follows:
  
%{snippet|file=${basedir}/src/main/resources/application.objects|ignoreDownloadError=false}

  This is used by the following service method to verify the user login and send back the email:
    
%{snippet|id=tutorial|file=${basedir}/src/main/java/net/officefloor/tutorial/googlesigninhttpserver/LoginLogic.java|ignoreDownloadError=false}
    


*Testing

  To avoid having to call Google with real users, the following unit tests demonstrates creating mock tokens:
  
%{snippet|id=tutorial|file=${basedir}/src/test/java/net/officefloor/tutorial/googlesigninhttpserver/GoogleSigninHttpServerTest.java|ignoreDownloadError=false}

  JUnit 4 example:

%{snippet|id=tutorial|file=${basedir}/src/test/java/net/officefloor/tutorial/googlesigninhttpserver/GoogleSigninHttpServerJUnit4Test.java|ignoreDownloadError=false}



Next


  The {{{../ObjectifyHttpServer/index.html}next tutorial}} covers using Objectify for the Google App Engine DataStore.
