~~~
~~ #%L
~~ PayPal Tutorial
~~ %%
~~ Copyright (C) 2005 - 2020 Daniel Sagenschneider
~~ %%
~~ This program is free software: you can redistribute it and/or modify
~~ it under the terms of the GNU Affero General Public License as published by
~~ the Free Software Foundation, either version 3 of the License, or
~~ (at your option) any later version.
~~ 
~~ This program is distributed in the hope that it will be useful,
~~ but WITHOUT ANY WARRANTY; without even the implied warranty of
~~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
~~ GNU General Public License for more details.
~~ 
~~ You should have received a copy of the GNU Affero General Public License
~~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
~~ #L%
~~~

                                               -----------------------
                                                   PayPal Tutorial 
                                               -----------------------
					                            Daniel Sagenschneider
                                               -----------------------

PayPal Tutorial

  This tutorial demonstrates the ease of integrating PayPal to take payments.

  {{{https://github.com/officefloor/OfficeFloor/tree/master/officefloor/tutorials/PayPalHttpServer}Tutorial Source}}



*Server side PayPal

  The latest PayPal can be invoked completely from the client side.  This is very convenient, however still requires verifying the funds were appropriately captured on server side.
  
  To take more control and ensure the orders are not manipulated client side, the PayPal interaction can be done server side.  The {{{/apidocs/net/officefloor/pay/paypal/PayPalHttpClientManagedObjectSource.html}PayPalHttpClientManagedObjectSource}} provides the server side PayPal client.
  
  The two interactions required are:
  
   [[1]] Create the order
   
   [[1]] Capture funds for the order
   
  These interactions are the following:
  
%{snippet|id=create|file=${basedir}/src/main/java/net/officefloor/tutorial/paypalhttpserver/PayPalLogic.java|ignoreDownloadError=false}

%{snippet|id=capture|file=${basedir}/src/main/java/net/officefloor/tutorial/paypalhttpserver/PayPalLogic.java|ignoreDownloadError=false}

  See {{{http://developer.paypal.com}PayPal}} for further details.
  
  
  
*Configure PayPal

  The {{{/apidocs/net/officefloor/pay/paypal/PayPalHttpClientManagedObjectSource.html}PayPalHttpClientManagedObjectSource}} depends on a {{{/apidocs/net/officefloor/pay/paypal/PayPalConfigurationRepository.html}PayPalConfigurationRepository}} to provide the PayPal configuration.  This enables different implementations to pull from configuration, database, etc.
  
  For simplicity (and use your own PayPal accounts), this tutorial uses an in memory implementation configured by REST request.  The implementation is as follows:

%{snippet|id=tutorial|file=${basedir}/src/main/java/net/officefloor/tutorial/paypalhttpserver/InMemoryPayPalConfigurationRepository.java|ignoreDownloadError=false}

  with REST request to configure as follows:
  
%{snippet|id=configure|file=${basedir}/src/main/java/net/officefloor/tutorial/paypalhttpserver/PayPalLogic.java|ignoreDownloadError=false}
  


*Testing

  The following unit tests demonstrates the ability to mock PayPal for testing:
  
%{snippet|id=tutorial|file=${basedir}/src/test/java/net/officefloor/tutorial/paypalhttpserver/PayPalHttpServerTest.java|ignoreDownloadError=false}

  JUnit 4 example:

%{snippet|id=tutorial|file=${basedir}/src/test/java/net/officefloor/tutorial/paypalhttpserver/PayPalHttpServerJUnit4Test.java|ignoreDownloadError=false}



Next

  The {{{../ActivityHttpServer/index.html}next tutorial}} covers modularising configuration.
