~~~
~~ #%L
~~ Inheritance HTTP Server Tutorial
~~ %%
~~ Copyright (C) 2005 - 2020 Daniel Sagenschneider
~~ %%
~~ Licensed under the Apache License, Version 2.0 (the "License");
~~ you may not use this file except in compliance with the License.
~~ You may obtain a copy of the License at
~~ 
~~      http://www.apache.org/licenses/LICENSE-2.0
~~ 
~~ Unless required by applicable law or agreed to in writing, software
~~ distributed under the License is distributed on an "AS IS" BASIS,
~~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~~ See the License for the specific language governing permissions and
~~ limitations under the License.
~~ #L%
~~~

                                               -----------------------
                                            Template Inheritance Tutorial 
                                               -----------------------
                                                Daniel Sagenschneider
                                               -----------------------

Template Inheritance Tutorial
  
  This tutorial demonstrates the inheritance of both HTML and logic for templates.
      
  The following are the example pages for this tutorial.  The parent, child and grand child pages inherit from each other as their name suggests.
  
[./images/InheritHttpServer-parent-screenshot.png] InheritHttpServer parent screen shot.

[./images/InheritHttpServer-child-screenshot.png] InheritHttpServer child screen shot.

[./images/InheritHttpServer-grandchild-screenshot.png] InheritHttpServer grand child screenshot.

  {{{https://github.com/officefloor/OfficeFloor/tree/master/officefloor/tutorials/InheritHttpServer}Tutorial Source}}



*Template Inheritance Configuration

  The below shows the template inheritance configuration.

[./images/InheritHttpServer-screenshot.png] InheritHttpServer configuration.



*Parent

  For the parent that does not inherit from a template, it is just a normal template.  It however does specify sections for overriding when inherited from.  The HTML for the parent page is as follows:

%{snippet|file=${basedir}/src/main/resources/parent.woof.html|ignoreDownloadError=false}

  And the logic for the page is as follows:
  
%{snippet|id=tutorial|file=${basedir}/src/main/java/net/officefloor/tutorial/inherithttpserver/ParentLogic.java|ignoreDownloadError=false}

  When rendered, the page results in the following:
  
%{snippet|file=${basedir}/src/test/resources/parent-expected.html|ignoreDownloadError=false}



*\<!-- \{:section\} --\>

  Template inheritance occurs by the child template overriding sections within the parent template.  To specify which sections are being overridden by the child template, the child template prefixes the section name with ':'.
  
  The child template may introduce further sections after the overriding section by not prefixing them with ':'.  The introduced sections are included immediately after the overriding section but before the corresponding next section in the parent template.

  

*\<!-- \{!\} --\>

  To continue to allow the child template to be rendered in a web browser for easy editing, sections named '!' are ignored.  These ignored sections allow including HTML tags for correctly rendering the child raw template content.
  
  Note that the first section within the child template is also ignored.



*Child

  The child template of this tutorial demonstrates overriding a section, introducing a section and ignoring sections.  

  The HTML for the child page is as follows:

%{snippet|file=${basedir}/src/main/resources/child.woof.html|ignoreDownloadError=false}

  The sections, have the following effect:
  
   * first section: ignored by default (but necessary for HTML tags)
   
   * <<<:content>>> section: overrides the parent's <<<content>>> section
   
   * <<<introduced>>> section: included immediately after the child's <<<content>>> section
   
   * <<<!>>> section: ignored (but necessary for HTML tags)

  As the <<<introduced>>> section has a $\{property\}, it requires a corresponding data method in the logic class.  The following is the logic class for the child template.  Note that it extends the parent logic class to inherit the required data methods from the parent.
  
%{snippet|id=tutorial|file=${basedir}/src/main/java/net/officefloor/tutorial/inherithttpserver/ChildLogic.java|ignoreDownloadError=false}

  When rendered, the page results in the following:
  
%{snippet|file=${basedir}/src/test/resources/child-expected.html|ignoreDownloadError=false}



*Grand Child

  The grand child template of this tutorial demonstrates overriding the first section, overriding an introduced section and overriding a data method.

  The HTML for the grand child page is as follows:

%{snippet|file=${basedir}/src/main/resources/grandchild.woof.html}

  The sections, have the following effect:
  
   * <<<:template>>> section: overrides the first section of the parent template
   
   * <<<precontent>>> section: included immediately after the first section
   
   * <<<:introduced>>> section: overrides the child's <<<introduced>>> section
   
   * <<<!>>> section: ignored
   
  The overriding of the first section also introduces a different property.  This requires the corresponding data method to return a different type (one containing the new property rather than the old property).  To enable overriding data methods of the parent and continue to abide by Java compiler rules, template inheritance for logic classes have methods override each other by name only (not by the entire method signature).  This allows changing the method signature (e.g. adding an additional parameter) and then override the data method by name to return a different type.

  In the case of this tutorial, the following logic class shows overriding the method by name.  The additional parameter is only to create a different method signature to avoid Java compiler issues of returning a different type.
  
%{snippet|id=tutorial|file=${basedir}/src/main/java/net/officefloor/tutorial/inherithttpserver/GrandChildLogic.java|ignoreDownloadError=false}

  When rendered, the page results in the following:
  
%{snippet|file=${basedir}/src/test/resources/grandchild-expected.html|ignoreDownloadError=false}



Next

  The {{{../SecurePageHttpServer/index.html}next tutorial}} covers securing a page.

