<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="4.2"?>
<plugin>
    <extension point="org.eclipse.ui.actionSets">
      <actionSet label="OfficeFloor Demo Action Set" visible="true" id="net.officefloor.eclipse.actionSet.demo">
         <menu label="OfficeFloor" id="officefloorMenu">
            <separator name="officefloorGroup"/>
         </menu>
         <action
               label="Demo"
               icon="icons/Demo.png"
               class="net.officefloor.eclipse.tool.demo.DemoAction"
               menubarPath="officefloorMenu/officefloorGroup"
               toolbarPath="officefloorGroup"
               id="net.officefloor.eclipse.actions.DemoAction">
         </action>
      </actionSet>
   </extension>
</plugin>
