~~~
~~ #%L
~~ Azure Web Apps Tutorial
~~ %%
~~ Copyright (C) 2005 - 2021 Daniel Sagenschneider
~~ %%
~~ Licensed under the Apache License, Version 2.0 (the "License");
~~ you may not use this file except in compliance with the License.
~~ You may obtain a copy of the License at
~~ 
~~      http://www.apache.org/licenses/LICENSE-2.0
~~ 
~~ Unless required by applicable law or agreed to in writing, software
~~ distributed under the License is distributed on an "AS IS" BASIS,
~~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~~ See the License for the specific language governing permissions and
~~ limitations under the License.
~~ #L%
~~~

                                               -----------------------
                                               Azure Web Apps Tutorial 
                                               -----------------------
					                            Daniel Sagenschneider
                                               -----------------------

Azure Web Apps Tutorial

  This tutorial demonstrates running within {{{https://azure.microsoft.com/services/app-service/web/}Azure Web Apps}}.

  {{{https://github.com/officefloor/OfficeFloor/tree/master/officefloor/tutorials/AzureWebAppsHttpServer}Tutorial Source}}



*Azure

  {{{https://azure.microsoft.com/services/app-service/web/}Azure Web Apps}} is able to run Servlet applications.  Therefore, OfficeFloor is configured as a Servlet application as follows:
  
%{snippet|id=azure|file=${basedir}/pom.xml|ignoreDownloadError=false}



*Deploying to Azure

  The following configuration deploys the application to Azure:

%{snippet|id=deploy|file=${basedir}/pom.xml|ignoreDownloadError=false}

  The properties are configured in the maven <<<settings.xml>>> file to avoid being checked into source code management.  See the {{{https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-java-application}Azure tutorial}} regarding setting up Azure and configuring the properties.



*Testing

  The functionality can be tested just like any other Web on OfficeFloor (WoOF) application:
  
%{snippet|id=tutorial|file=${basedir}/src/test/java/net/officefloor/tutorial/azurewebappshttpserver/AzureWebAppsHttpServerTest.java|ignoreDownloadError=false}



Next

  The {{{../PayPalHttpServer/index.html}next tutorial}} covers integrating PayPal into OfficeFloor.
