				       ------------------
				             Welcome
				       ------------------
				      Daniel Sagenschneider
				       ------------------

  <<Welcome to OfficeFloor>>

  OfficeFloor is an Inversion of Control 2.0 implementation that focuses on multi-threaded dependency injection into methods rather than into objects and improves on existing dependency injection frameworks by letting you specify the Thread to execute the method - thereby really adhering to the "Hollywood Principle" (don't call us, we "really" will call you).
  
  OfficeFloor is freely distributed under GPL (LGPL also available on request) and the source is available {{{./source-repository.html}here}}.
  
Features

  * Combines the object oriented ease of programming with the multi-threaded performance of functional programming.

  * Provides both auto-wiring of dependencies and manual graphical configuration.

  * WoOF (Web on OfficeFloor - {{{http://webfloor.org}http://webfloor.org}}) provides simplified web application development that allows easy integration with WSYWIG web design tools.
  
  * JEE Servlet Filter that enables introducing OfficeFloor functionality to your existing applications without change.
  
  * Integration with frameworks such as Spring, Hibernate and GWT to simplify integrating OfficeFloor functionality into your existing applications.


Example Capabilities

  The following code provides a simple example of OfficeFloor capabilities: 

%{code-snippet|brush-autodetect=1|file=src/site/snippets/HttpServer.java}

  Further examples can be found in the {{{./tutorials/index.html}Quick Tutorials}}.

  
Graphical Configuration

  The above example was limited to code configuration.  The further value of OfficeFloor lies in its {{{./eclipse/graphical-configuration.html}graphical configuration}}, which is the more preferred means of configuration.  
  
  An example graphical configuration from {{{http://webfloor.org}WoOF (Web on OfficeFloor)}} for web site navigation is:

[./images/graphical-configuration.png] Example graphical configuration of WoOF.

  To use the graphical configuration install the {{{./eclipse/index.html}OfficeFloor Eclipse plug-ins}}.

  

Find out more

  To find out more about OfficeFloor:
  
   * Check out the {{{./tutorials/index.html}Quick Tutorials}} for 2 minute overviews of various features and capabilities of OfficeFloor.
   
   * Ask questions by catching us online (click on bottom right hand box - many thanks goes to {{{http://woopra.com}Woopra}} for this great service).

